$topnav-background-color: #222;
.login-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;     /* 100% der Viewport-Breite */
    height: 100vh;    /* 100% der Viewport-Höhe */
    z-index: -1; /* Stellt sicher, dass es hinter anderen Inhalten liegt, falls erforderlich */
    background: $topnav-background-color;
    color: #fff;

    .rounded-btn {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        color: rgba(255, 255, 255, 0.8);
        background: $topnav-background-color;
        border: 2px solid rgba(255, 255, 255, 0.8);
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;
    }
    .rounded-btn:hover,
    .rounded-btn:focus,
    .rounded-btn:active,
    .rounded-btn:visited {
        color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(255, 255, 255, 1);
        outline: none;
    }

}
