<div class="row">
  <div class="col col-sm-6">
    <div class="card mb-3">
      <div class="card-header">
        Facts on the current RDF Model
      </div>
      <div class="card-body">
        <p>Active Namespace</p> 
        <p>Total number of triples</p> 
      </div>
    </div>
  </div>
  <div class="col col-sm-6">
    <div class="card mb-3">
      <div class="card-header">
        Designed RDF Triples per assigned Class
      </div>
      <div class="card-body">
        <!-- todo implmenet click event to trigger tables -->
        <canvas baseChart height="180px" [data]="doughnutChartData" [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>
</div>

<div class="px-sm-2 py-sm-2">
  <app-table [currentTable]="currentTable" [tableTitle]="tableTitle" [tableExplanation]="tableSubTitle"
    (tableClickedCell)="tableClick($event)"></app-table>
</div>