<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#"> Lightweight Industrial Ontology Design Support </a>
    <div class="collapse navbar-collapse">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-none d-xl-block">
                <a class="nav-link btn mt-1 mx-3" routerLink="/" role="button"
                    style="padding: .375rem 1rem !important;border-color: #999;"><i class="fas fa-home"></i>
                    Home
                </a>
            </li>
            <li class="nav-item d-none d-xl-block">
                <a class="nav-link btn mt-1 mx-3" routerLink="/modelling/model" role="button"
                    style="padding: .375rem 1rem !important;border-color: #999;"><i class="fas fa-fire-extinguisher"></i>
                    RDF Modelling
                </a>
            </li>
            <li class="nav-item d-none d-xl-block">
                <a class="nav-link btn mt-1 mx-3" routerLink="/" role="button"
                    style="padding: .375rem 1rem !important;border-color: #999;"><i class="fas fa-seedling"></i>
                    Tutorial
                </a>
            </li>
    </ul>
    </div>
</nav>