
 
 <h1><img src="assets/AT_Logo.png" alt="Girl in a jacket">  Lightweight Ontology Support</h1>

 <nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
  
   <ul class="nav nav-pills nav-fill">
     <li class="nav-item">
       <a class="nav-link text-white bg-dark" routerLink="/">Home </a>
     </li>
     <li class="nav-item">
       <a class="nav-link text-white bg-dark" routerLink="/vdi3682">VDI3682 Template</a>
     </li>
     <li class="nav-item">
       <a class="nav-link text-white bg-dark" routerLink="/dinen61360">DINEN61360 Template</a>
     </li>
     <li class="nav-item">
       <a class="nav-link text-white bg-dark" routerLink="/isa88">ISA 88 Template</a>
     </li>
     <li class="nav-item">
       <a class="nav-link text-white bg-dark" routerLink="/iso22400">ISO 22400 Template</a>
     </li>
     <li class="nav-item">
       <a class="nav-link text-white bg-dark" routerLink="/BScomponents">Bootstrap Components</a>
     </li>
     <li class="nav-item">
       <a class="nav-link text-white bg-dark" routerLink="/configuration">Configuration</a>
     </li>
   </ul>

</nav>

<router-outlet></router-outlet>
