<div class="card mb-sm-4 shadow p-3 mb-5 bg-white rounded">
    <h5 class="card-header">WADL Template</h5>
    <div class="card-body">
        <h5 class="card-title"> Web Application Description Language </h5>

        <div class="row">

            <div class="col">
                <p class="card-text">The WADL template uses a tabular approach for building a graph.
                    First, a resource base path, and optionally a physical entity that provides that resource, have to
                    be created.
                    Afterwards, services can be added to existing resources. After having defined the services, requests
                    and responses can be added as well.
                    <i class="fas fa-question-circle" role="button" data-bs-toggle="modal" data-bs-target="#WADL_HELPER"></i>
                </p>

            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-header">
                        Template Statistics
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">No# base resources</th>
                                    <th scope="col">No# services</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{NoOfResourceBasePaths}}</td>
                                    <td>{{NoOfServices}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="px-sm-2 py-3">

            <!-- tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="createResource-tab" data-bs-toggle="tab" type="button"
                        data-bs-target="#createResource" role="tab" aria-controls="createResource" aria-selected="true">
                        Create new base resource </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="createService-tab" data-bs-toggle="tab" type="button"
                        data-bs-target="#createService" role="tab" aria-controls="createService" aria-selected="false">
                        Add new service </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="createRequest-tab" data-bs-toggle="tab" type="button"
                        data-bs-target="#createRequest" role="tab" aria-controls="createRequest" aria-selected="false">
                        Add new requests </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="createResponse-tab" data-bs-toggle="tab" type="button"
                        data-bs-target="#createResponse" role="tab" aria-controls="createResponse"
                        aria-selected="false"> Add new responses </a>
                </li>
            </ul>

            <div class="tab-content py-3" id="myTabContent">

                <!-- content to create base resource -->
                <div class="tab-pane fade show active" id="createResource" role="tabpanel" aria-labelledby="createResource-tab">
                    <wadl-base-resource></wadl-base-resource>
                </div>

                <!-- content to create service -->
                <div class="tab-pane " id="createService" role="tabpanel" aria-labelledby="createService-tab">
                    <div class="row" [formGroup]="serviceForm">
                        <div class="form-group col-sm">
                            <label> The resource base path </label>
                            <select formControlName=resourceBasePath name="resourceBasePath" class="form-control">
                                <option value=null selected hidden></option>
                                <option *ngFor='let x of resourceBasePaths'>
                                    {{x}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-sm">
                            <label> Path of the new service </label>
                            <div class="input-group-prepend">
                                <span class="input-group-text input-group-prepend" id="inputGroupPrepend">/</span>
                                <input formControlName=servicePath name="servicePath" type="text"
                                    placeholder="[URL of service path]" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-sm-1 align-self-end">
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <button type="button" class="btn btn-secondary"
                                    (click)="createTripel('add', 'service', serviceForm)">Add</button>
                                <div class="btn-group" role="group">
                                    <button id="addButton" type="button" class="btn btn-secondary dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="addButton">
                                        <a class="dropdown-item"
                                            (click)="createTripel('delete', 'service', serviceForm)">Delete service</a>
                                        <a class="dropdown-item"
                                            (click)="createTripel('build', 'service', serviceForm)">Download SPARQL
                                            INSERT</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <app-table [currentTable]="servicesTable" (tableClickedRow)="tableClick('SERVICE', $event)">
                    </app-table>

                </div>
                <div class="tab-pane " id="createRequest" role="tabpanel" aria-labelledby="createRequest-tab">
                    <!-- content to create new requests -->
                    <div class="row" [formGroup]="requestForm">
                        <div class="form-group col-sm">
                            <label> The resource base path </label>
                            <select formControlName=resourceBasePath name="resourceBasePath" class="form-control"
                                (click)="getExistingServicesByBase(requestForm.controls['resourceBasePath'].value)">
                                <option value=null selected hidden></option>
                                <option *ngFor='let x of resourceBasePaths'>
                                    {{x}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-sm">
                            <label> The service path </label>
                            <select formControlName=servicePath name="servicePath" class="form-control"
                                (click)="getExistingParameter(requestForm.controls['servicePath'].value, requestForm.controls['method'].value, requestForm.controls['parameterType'].value)"
                                (click)="getExistingRepresentation(requestForm.controls['servicePath'].value, requestForm.controls['method'].value, 'request')">
                                <option value=null selected hidden></option>
                                <option *ngFor='let x of servicePaths'>
                                    {{x}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-sm">
                            <label> Method </label>
                            <select formControlName=method name="method" class="form-control"
                                (click)="getExistingParameter(requestForm.controls['servicePath'].value, requestForm.controls['method'].value, requestForm.controls['parameterType'].value)"
                                (click)="getExistingRepresentation(requestForm.controls['servicePath'].value, requestForm.controls['method'].value, 'request')">
                                <option value=null selected hidden></option>
                                <option *ngFor='let x of methods'>
                                    {{x}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-sm">
                            <label> Parameter type </label>
                            <select formControlName=parameterType name="parameterType" class="form-control"
                                (click)="getExistingParameter(requestForm.controls['servicePath'].value, requestForm.controls['method'].value, requestForm.controls['parameterType'].value)"
                                (click)="getExistingRepresentation(requestForm.controls['servicePath'].value, requestForm.controls['method'].value , 'request')">
                                <option value=null selected hidden></option>
                                <option>none</option>
                                <option *ngFor='let x of parameterTypes'>
                                    {{x}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row" [formGroup]="requestForm">
                        <div class="form-group col-sm">
                            <label> Parameter key </label>
                            <input formControlName=parameterKey class="form-control" name="parameterKey" type="text"
                                placeholder="[the key of your parameter/representation]"
                                [readonly]="requestForm.controls['parameterType'].value=='none'"
                                [required]="requestForm.controls['parameterType'].value!='none'">
                        </div>
                        <div class="form-group col-sm">
                            <label> Data type </label>
                            <div class="input-group">
                                <input formControlName=dataType class="form-control" name="dataType" type="text"
                                    placeholder="[the required data type]"
                                    [readonly]="requestForm.controls['ontologicalDataType'].value || requestForm.controls['parameterType'].value=='none'"
                                    [required]="requestForm.controls['parameterType'].value!='none'">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal"
                                        data-bs-target="#ONTO_HELPER"
                                        (click)="setOntologicalDataType('requestParameter')">
                                        O </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm">
                            <label> Option value </label>
                            <input formControlName=optionValue class="form-control" name="optionValue" type="text"
                                placeholder="[the key´s option values]"
                                [readonly]="requestForm.controls['parameterType'].value=='none'">
                        </div>
                        <div class="form-group col-sm-1 align-self-end">
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <button type="button" class="btn btn-secondary"
                                    (click)="createTripel('add', 'requestParameter', requestForm)">Add</button>
                                <div class="btn-group" role="group">
                                    <button id="addButton" type="button" class="btn btn-secondary dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="addButton">
                                        <a class="dropdown-item"
                                            (click)="createTripel('delete', 'requestParameter', requestForm)">Delete
                                            request</a>
                                        <a class="dropdown-item"
                                            (click)="createTripel('build', 'requestParameter', requestForm)">Download
                                            SPARQL
                                            INSERT</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- div is repeated for number of entries in requestFormParameterArray -->
                    <div [formGroup]="requestForm">
                        <div formArrayName="requestFormParameterArray">
                            <div class="row" *ngFor="let x of requestFormParameterArray.controls; let i=index"
                                [formGroupName]="i">
                                <div class="form-group col-sm">
                                    <input formControlName="parameterKey" class="form-control" name="parameterKey"
                                        type="text" readonly>
                                </div>
                                <div class="form-group col-sm">
                                    <div class="input-group">
                                        <input formControlName="dataType" class="form-control" name="dataType"
                                            type="text" readonly>
                                        <div class="input-group-append">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm">
                                    <input formControlName="optionValue" class="form-control" name="optionValue"
                                        type="text" readonly>
                                </div>
                                <div class="form-group col-sm-1 align-self-end">
                                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                        <div class="btn-group" role="group">
                                            <button id="addButton" type="button"
                                                class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="addButton">
                                                <a class="dropdown-item"
                                                    (click)="deleteParameter('key', x.controls['parameterKey'].value)">Delete
                                                    key</a>
                                                <a class="dropdown-item"
                                                    (click)="deleteParameter('option', x.controls['parameterKey'].value)">Delete
                                                    options</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm">
                            <div class="custom-control custom-checkbox">
                                <input [(ngModel)]="requestBodyRepresentationCheck" type="checkbox"
                                    class="custom-control-input" id="requestBodyRepresentationCheck">
                                <label class="custom-control-label" for="requestBodyRepresentationCheck">Include body
                                    representation</label>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="requestBodyRepresentationCheck" [formGroup]="requestForm">
                        <div class="form-group col-sm">
                            <label> Body media type </label>
                            <input formControlName="bodyMediaType" class="form-control" name="bodyMediaType" type="text"
                                placeholder="[the required media type of the body]"
                                [required]="requestBodyRepresentationCheck">
                        </div>
                        <div class="form-group col-sm">
                            <label> Body parameter key </label>
                            <input formControlName="bodyParameterKey" class="form-control" name="bodyParameterKey"
                                type="text" placeholder="[the key of the body representation]"
                                [required]="requestBodyRepresentationCheck">
                        </div>
                        <div class="form-group col-sm">
                            <label> Body data type </label>
                            <div class="input-group">
                                <input formControlName="bodyDataType" class="form-control" name="bodyDataType"
                                    type="text" placeholder="[the required data type]"
                                    [readonly]="requestForm.controls['ontologicalBodyDataType'].value"
                                    [required]="requestBodyRepresentationCheck">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal"
                                        data-bs-target="#ONTO_HELPER"
                                        (click)="setOntologicalDataType('requestBodyParameter')">
                                        O </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm">
                            <label> Body option value </label>
                            <input formControlName="bodyOptionValue" class="form-control" name="bodyOptionValue"
                                type="text" placeholder="[the option values]">
                        </div>
                        <div class="form-group col-sm-1 align-self-end">
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <button type="button" class="btn btn-secondary"
                                    (click)="createTripel('add', 'requestRepresentationParameter', requestForm)">Add</button>
                                <div class="btn-group" role="group">
                                    <button id="addButton" type="button" class="btn btn-secondary dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="addButton">
                                        <a class="dropdown-item"
                                            (click)="createTripel('delete', 'requestRepresentationParameter', requestForm)">Delete
                                            body representation</a>
                                        <a class="dropdown-item"
                                            (click)="createTripel('build', 'requestRepresentationParameter', requestForm)">Download
                                            SPARQL
                                            INSERT</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- div is repeated for number of entries in requestFormRepresentationArray -->

                    <div [formGroup]="requestForm"
                        *ngIf="requestBodyRepresentationCheck && requestFormRepresentationArray.value[0]">
                        <div formArrayName="requestFormRepresentationArray">
                            <div class="row" *ngFor="let x of requestFormRepresentationArray.controls; let i=index"
                                [formGroupName]="i">
                                <div class="form-group col-sm">
                                    <input formControlName="bodyMediaType" class="form-control" name="bodyMediaType"
                                        type="text" readonly>
                                </div>
                                <div class="form-group col-sm">
                                    <input formControlName="bodyParameterKey" class="form-control"
                                        name="bodyParameterKey" type="text" readonly>
                                </div>
                                <div class="form-group col-sm">
                                    <input formControlName="bodyDataType" class="form-control" name="bodyDataType"
                                        type="text" readonly>
                                </div>
                                <div class="form-group col-sm">
                                    <input formControlName="bodyOptionValue" class="form-control" name="bodyOptionValue"
                                        type="text" readonly>
                                </div>
                                <div class="form-group col-sm-1 align-self-end">
                                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                        <div class="btn-group" role="group">
                                            <button id="addButton" type="button"
                                                class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="addButton">
                                                <a class="dropdown-item"
                                                    (click)="deleteParameter('key', x.controls['bodyParameterKey'].value)">Delete
                                                    key</a>
                                                <a class="dropdown-item"
                                                    (click)="deleteParameter('option', x.controls['bodyParameterKey'].value)">Delete
                                                    options</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="tab-pane " id="createResponse" role="tabpanel" aria-labelledby="createResponse-tab">
                    <!-- content to create new responses -->
                    <div [formGroup]="responseForm" class="row">
                        <div class="form-group col-sm">
                            <label> The resource base path </label>
                            <select formControlName="resourceBasePath" name="resourceBasePath" class="form-control"
                                (click)="getExistingServicesByBase(responseForm.controls['resourceBasePath'].value)">
                                <option value=null selected hidden></option>
                                <option *ngFor='let x of resourceBasePaths'>
                                    {{x}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-sm">
                            <label> The service path </label>
                            <select formControlName="servicePath" name="servicePath" class="form-control">
                                <option value=null selected hidden></option>
                                <option *ngFor='let x of servicePaths'>
                                    {{x}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-sm">
                            <label> Method </label>
                            <select formControlName="method" name="method" class="form-control"
                                (click)="getExistingRepresentation(responseForm.controls['servicePath'].value, responseForm.controls['method'].value, 'response')">
                                <option value=null selected hidden></option>
                                <option *ngFor='let x of methods'>
                                    {{x}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div [formGroup]="responseForm" class="row">
                        <div class="form-group col-sm">
                            <label> Response code </label>
                            <select formControlName="responseCode" name="responseCode" class="form-control"
                                (click)="getExistingRepresentation(responseForm.controls['servicePath'].value, responseForm.controls['method'].value, 'response')">
                                <option value=null selected hidden></option>
                                <option *ngFor='let x of responseCodes'>
                                    {{x}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-sm-1 align-self-end">
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <button type="button" class="btn btn-secondary"
                                    (click)="createTripel('add', 'response', responseForm)">Add</button>
                                <div class="btn-group" role="group">
                                    <button id="addButton" type="button" class="btn btn-secondary dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="addButton">
                                        <a class="dropdown-item"
                                            (click)="createTripel('delete', 'response', responseForm)">Delete
                                            response</a>
                                        <a class="dropdown-item"
                                            (click)="createTripel('build', 'response', responseForm)">Download SPARQL
                                            INSERT</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm">
                            <div class="custom-control custom-checkbox">
                                <input [(ngModel)]="responseBodyRepresentationCheck" type="checkbox"
                                    class="custom-control-input" id="responseBodyRepresentationCheck">
                                <label class="custom-control-label" for="responseBodyRepresentationCheck">Include body
                                    representation</label>
                            </div>
                        </div>
                    </div>

                    <div [formGroup]="responseForm" class="row" *ngIf="responseBodyRepresentationCheck">
                        <div class="form-group col-sm">
                            <label> Body media type </label>
                            <input formControlName="bodyMediaType" class="form-control" name="bodyMediaType" type="text"
                                placeholder="[the required media type of the body]"
                                [required]="responseBodyRepresentationCheck">
                        </div>
                        <div class="form-group col-sm">
                            <label> Body parameter key </label>
                            <input formControlName="bodyParameterKey" class="form-control" name="bodyParameterKey"
                                type="text" placeholder="[the key of the body representation]"
                                [required]="responseBodyRepresentationCheck">
                        </div>
                        <div class="form-group col-sm">
                            <label> Body data type </label>
                            <div class="input-group">
                                <input formControlName="bodyDataType" class="form-control" name="bodyDataType"
                                    type="text" placeholder="[the required data type]"
                                    [readonly]="responseForm.controls['ontologicalBodyDataType'].value"
                                    [required]="responseBodyRepresentationCheck">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal"
                                        data-bs-target="#ONTO_HELPER"
                                        (click)="setOntologicalDataType('responseBodyParameter')">
                                        O </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm">
                            <label> Body option value </label>
                            <input formControlName="bodyOptionValue" class="form-control" name="bodyOptionValue"
                                type="text" placeholder="[the option values]">
                        </div>
                        <div class="form-group col-sm-1 align-self-end">
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <button type="button" class="btn btn-secondary"
                                    (click)="createTripel('add', 'responseRepresentationParameter', responseForm)">Add</button>
                                <div class="btn-group" role="group">
                                    <button id="addButton" type="button" class="btn btn-secondary dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="addButton">
                                        <a class="dropdown-item"
                                            (click)="createTripel('delete', 'responseRepresentationParameter', responseForm)">Delete</a>
                                        <a class="dropdown-item"
                                            (click)="createTripel('build', 'responseRepresentationParameter', responseForm)">Download
                                            SPARQL
                                            INSERT</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- div is repeated for number of entries in responseFormRepresentationArray -->

                    <div [formGroup]="responseForm"
                        *ngIf="responseBodyRepresentationCheck && responseFormRepresentationArray.value[0]">
                        <div formArrayName="responseFormRepresentationArray">
                            <div class="row" *ngFor="let x of responseFormRepresentationArray.controls; let i=index"
                                [formGroupName]="i">
                                <div class="form-group col-sm">
                                    <input formControlName="bodyMediaType" class="form-control" name="bodyMediaType"
                                        type="text" readonly>
                                </div>
                                <div class="form-group col-sm">
                                    <input formControlName="bodyParameterKey" class="form-control"
                                        name="bodyParameterKey" type="text" readonly>
                                </div>
                                <div class="form-group col-sm">
                                    <input formControlName="bodyDataType" class="form-control" name="bodyDataType"
                                        type="text" readonly>
                                </div>
                                <div class="form-group col-sm">
                                    <input formControlName="bodyOptionValue" class="form-control" name="bodyOptionValue"
                                        type="text" readonly>
                                </div>
                                <div class="form-group col-sm-1 align-self-end">
                                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                        <div class="btn-group" role="group">
                                            <button id="addButton" type="button"
                                                class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="addButton">
                                                <a class="dropdown-item"
                                                    (click)="deleteParameter('key', x.controls['bodyParameterKey'].value)">Delete
                                                    key</a>
                                                <a class="dropdown-item"
                                                    (click)="deleteParameter('option', x.controls['bodyParameterKey'].value)">Delete
                                                    options</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="WADL_HELPER" tabindex="-1" role="dialog" aria-labelledby="FPD_HELPER" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> The Web Application Description Language </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <img src="../../../../../../assets/images/vdi3682_grafical_notion.png" class="card-img-top">
                <p class="card-text"> Here should be explaining text about wadl </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    Got it! </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="ONTO_HELPER" tabindex="-1" role="dialog" aria-labelledby="ONTO_HELPER"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ONTO_HELPER"> Data type based on ontological definitions </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <img src="../../../../../../assets/images/ontologicalDataType.png" class="card-img-top">
                <p class="card-text"> There are three options for adding a data type to a parameter, which are shown
                    above. The
                    first option is to define the data type
                    manually. This is suitable for xsd data types for instance. It is also possible to type the
                    parameter with
                    TBox classes, or to set their data type
                    in the context of an ABox individual. </p>
                <div class="row">
                    <div class="form-group col-sm">
                        <div class="custom-control custom-radio custom-control-inline mx-5">
                            <input [(ngModel)]="ontologicalDataTypeRadio" value="ontologicalDataTypeTBox" type="radio"
                                id="ontologicalDataTypeTBox" name="ontologicalDataType" class="custom-control-input"
                                checked>
                            <label class="custom-control-label" for="ontologicalDataTypeTBox">Include TBox data
                                type</label>
                        </div>
                    </div>
                    <div class="form-group col-sm">
                        <div class="custom-control custom-radio custom-control-inline mx-5">
                            <input [(ngModel)]="ontologicalDataTypeRadio" value="ontologicalDataTypeABox" type="radio"
                                id="ontologicalDataTypeABox" name="ontologicalDataType" class="custom-control-input">
                            <label class="custom-control-label" for="ontologicalDataTypeABox">Include ABox data type
                            </label>
                        </div>
                    </div>
                </div>

                <div [formGroup]="ontologicalDataType" class="row" *ngIf="ontologicalDataTypeRadio">
                    <div class="form-group col-sm">
                        <label> Select a TBox </label>
                        <select formControlName="TBox" name="TBox" class="form-control"
                            (click)="getExistingClasses(ontologicalDataType.controls['TBox'].value)">
                            <option value=null selected hidden></option>
                            <option *ngFor='let x of tboxes'>
                                {{x}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-sm">
                        <label> Select a class </label>
                        <select formControlName="type" name="type" class="form-control"
                            (click)="getExistingIndividuals(ontologicalDataType.controls['type'].value)">
                            <option value=null selected hidden></option>
                            <option *ngFor='let x of classes'>
                                {{x}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-sm" *ngIf="ontologicalDataTypeRadio === 'ontologicalDataTypeABox'">
                        <label> Select the individual </label>
                        <select formControlName="individual" name="individual" class="form-control"
                            [required]="ontologicalDataTypeRadio === 'ontologicalDataTypeABox'">
                            <option value=null selected hidden></option>
                            <option *ngFor='let x of individuals'>
                                {{x}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="setDataType(null, requestBodyRepresentationRadio)">
                    Revert changes </button>
                <button *ngIf="ontologicalDataTypeRadio === 'ontologicalDataTypeTBox'" type="button"
                    class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="setDataType(ontologicalDataType.controls['type'].value, ontologicalDataTypeRadio)">
                    Use this IRI as a data type </button>
                <button *ngIf="ontologicalDataTypeRadio === 'ontologicalDataTypeABox'" type="button"
                    class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="setDataType(ontologicalDataType.controls['individual'].value, ontologicalDataTypeRadio)">
                    Use this IRI as a data type </button>
            </div>
        </div>
    </div>
</div>
