<!-- Start Top Card-->
<div class="card">
  <h5 class="card-header">Web Application Description Language (WADL) Insert Template</h5>
  <div class="card-body">
    <div class="row">
      <!--Start Top Card left Side   col-7 col-lg-8 -->
      <div class="col">
        <!--  58/42 Split Small Devices / 66/33 Split Large Devices-->
        <!-- Start Top Card left Side First Row-->
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header">First Row Left</div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h6>Method</h6>
                  </div>
                  <div class="col">
                    <h6>BaseUrl</h6>
                  </div>
                  <div class="col">
                    <h6>Resource</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div *ngIf="allAvailableMethods; else noConnection" class="row align-items-center">

                      <select [(ngModel)]="selectedMethod" name="selectedMethod" class="form-control">
                        <option></option>
                        <option *ngFor='let x of allAvailableMethods'>{{x}}</option>
                      </select>
                    </div>
                    <ng-template #noConnection>
                      <select class="form-control">
                        <option>
                          ----
                        </option>
                      </select>
                    </ng-template>
                  </div>

                  <div class="col">
                    <input id="baseUrl" [(ngModel)]="baseUrl" name="baseUrl" class="form-control" type="text"
                      placeholder="BaseUrl">
                  </div>
                  <div class="col">
                    <input [(ngModel)]="resource" name="resource" class="form-control" type="text"
                      placeholder="Resource">
                  </div>
                </div>
                <br>

                <div class="row">
                  <div class="col">
                    <button class="btn btn-secondary col" (click)="buildResourceInsert()">build INSERT</button>
                  </div>
                  <div class="col">
                    <button class="btn btn-secondary col" (click)="executeInsertResoruce()">execute
                      INSERT</button>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- End Top Card left Side First Row-->
        <!-- Start Top Card left Side Second Row-->
        <br>

        <div *ngIf="selectedMethod && baseUrl && resource">
          <!-- Start Card Add Service to a ServiceProvider-->
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-header">Add Service to a ServiceProvider</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col"><input id="modelIri" [(ngModel)]="modelIri" name="modelIri" class="form-control"
                        type="text" placeholder="http:// Provider IRI">
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col">
                      <div class="form-check">
                        <input [(ngModel)]="AddToModelOptions" type="radio" (click)="getAvailableTechnicalResources()"
                          id="addToTechnicalResource" name="AddToModelOptions" class="custom-control-input"
                          value="technicalResource">
                        <label class="custom-control-label" for="addToTechnicalResource">Add to a technical
                          resource</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-check">
                        <input [(ngModel)]="AddToModelOptions" type="radio" (click)="getAvailableStructureElements()"
                          id="addToStructureElement" name="AddToModelOptions" class="custom-control-input"
                          value="structureElement">
                        <label class="custom-control-label" for="addToStructureElement">Add to a structure
                          element</label>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row" *ngIf="AddToModelOptions === 'technicalResource' && availableTechnicalResources?.length">
                    <table class="table table-hover table-sm">
                      <thead>
                        <tr>
                          <!--
                          <th *ngFor="let col of keys(availableTechnicalResources[0])" scope="col">{{col}} </th>
                          -->
                          <th>Technical Resource</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let tableRow of availableTechnicalResources">
                          <!--
                          <td *ngFor="let x of keys(tableRow)" (click)="modelTableClick(tableRow[x])">{{tableRow[x]}} 
                          </td>-->
                          <td (click)="modelTableClick(tableRow)">{{tableRow}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="row" *ngIf="AddToModelOptions === 'structureElement' && availableTechnicalResources?.length">
                    <table class="table table-hover table-sm">
                      <thead>
                        <tr>
                          <!-- take first result binding and iterate over keys, these keys are table columns -->
                          <th *ngFor="let col of keys(availableTechnicalResources[0])" scope="col">{{col}} </th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- one row for each binding -->
                        <tr *ngFor="let tableRow of availableTechnicalResources">
                          <!-- one entry for each key in each binding -->
                          <td (click)="modelTableClick(tableRow['Element'])">{{tableRow['Element']}}
                          </td>
                          <td>{{tableRow['EntityType']}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="row">
                    <div class="col">
                      <button class="btn btn-secondary col" (click)="buildResourceInsertWithModel()">build
                        INSERT</button>
                    </div>
                    <div class="col">
                      <button class="btn btn-secondary col" (click)="executeInsertResourceWithModel()">execute
                        INSERT</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- End Top Card left Side Second Row-->
      </div>
      <!--End Top Card left Side-->
      <!--Start Top right side -5 col-lg-4"-->
      <div class="col">
        <!--  58/42 Split Small Devices / 66/33 Split Large Devices-->
        <div class="row h-100">

          <div class="card">

            <div class="card-header">Available Services</div>
            <div class="card-body">
              <div *ngIf="availableResources?.length; else noServices" class="row align-items-center">
                <table class="table table-hover table-sm">
                  <thead>
                    <tr>
                      <th *ngFor="let col of keys(availableResources[0])" scope="col">
                        <a *ngIf="col=='Resource'">{{col}} (Method)</a>
                        <a *ngIf="col!='Method' && col!='Resource'">{{col}}</a>
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- one row for each binding -->
                    <tr *ngFor="let tableRow of availableResources">
                      <!-- one entry for each key in each binding -->
                      <td (click)="resourceTableClick(tableRow.BaseUrl, '', '')">{{tableRow.BaseUrl}}</td>
                      <td (click)="resourceTableClick(tableRow.BaseUrl, tableRow.Resource, '')">{{tableRow.Resource}}
                        ({{tableRow.Method}})</td>
                      <td></td>
                      <td (click)="resourceTableClick('', '', tableRow.ServiceProvider)">{{tableRow.ServiceProvider}}
                      </td>
                      <td>
                        <div class="dropdown">

                          <button *ngIf="tableRow.ServiceProvider?.length"
                            class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                            id="serviceProviderDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                          </button>
                          <div class="dropdown-menu dropdown-menu-right"
                            aria-labelledby="serviceProviderDropdownMenuButton">
                            <h5 class="dropdown-header">Attention: Will be executed directly</h5>
                            <a (click)="deleteServiceProvider(tableRow.BaseUrl, tableRow.ServiceProvider)"
                              class="dropdown-item">Delete Service from ServiceProvider</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <ng-template #noServices>
                no Services
              </ng-template>
            </div>

          </div>

        </div>
      </div>
      <!-- End Top rigt Side-->
    </div>
  </div>
</div>
<!-- End Top Card-->

<!-- Testing Start-->
<div *ngIf="selectedMethod?.length && baseUrl?.length && resource?.length">
  <br>
  <div class="card">

    <div class="px-sm-2 py-sm-2">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="allParameter-tab" data-toggle="tab" href="#allParameter" role="tab"
            aria-controls="allParameter" aria-selected="false" (click)="setTableOption('All_Parameter_BUTTON')"> All
            Parameters </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="queryParameter-tab" data-toggle="tab" href="#queryParameter" role="tab"
            aria-controls="queryParameter" aria-selected="false" (click)="setTableOption('Query_Parameter_BUTTON')">
            Query Parameters </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="headerParameter-tab" data-toggle="tab" href="#headerParameter" role="tab"
            aria-controls="headerParameter" aria-selected="false" (click)="setTableOption('Header_Parameter_BUTTON')">
            Header Parameters </a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="allParameter" role="tabpanel" aria-labelledby="allParameter-tab">

          <div class="card-body">
            <a *ngIf="!methodDoesNotExistYet"> - Attention: Method has not been added to the
              database
              yet.</a>
            <div *ngIf="availableParameters?.length" class="row align-items-center">
              <table class="table table-hover table-sm">
                <thead>
                  <tr>
                    <!-- take first result binding and iterate over keys, these keys are table columns -->
                    <th *ngFor="let col of keys(availableParameters[0])" scope="col">{{col}} </th>

                  </tr>
                </thead>
                <tbody>
                  <!-- one row for each binding -->
                  <tr *ngFor="let tableRow of availableParameters">
                    <!-- one entry for each key in each binding -->
                    <td *ngFor="let x of keys(tableRow)" (click)="iriTableClick(tableRow[x])">{{tableRow[x]}}</td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="tab-pane " id="queryParameter" role="tabpanel" aria-labelledby="queryParameter-tab">
          <div class="card-body">
            <a *ngIf="!methodDoesNotExistYet"> - Attention: Method has not been added to the database
              yet.</a>
            <div class="row align-items-center">
              <table class="table table-hover table-sm">
                <thead *ngIf="availableParameters?.length; else noQueryParameter">
                  <tr>
                    <!-- take first result binding and iterate over keys, these keys are table columns -->
                    <th *ngFor="let col of keys(availableParameters[0])" scope="col">{{col}} </th>
                    <th>Action</th>
                  </tr>
                </thead>
                <ng-template #noQueryParameter>
                  <thead>
                    <th>Key</th>
                    <th>Type</th>
                    <th>OptionValue</th>
                    <th>Action</th>
                    <th></th>
                  </thead>
                </ng-template>
                <tbody>
                  <!-- one row for each binding -->
                  <tr *ngFor="let tableRow of availableParameters">
                    <!-- one entry for each key in each binding -->
                    <td (click)="queryTableClick(tableRow.Key, tableRow.Type)" *ngFor="let x of keys(tableRow)">
                      {{tableRow[x]}}</td>
                    <td>
                      <div class="dropdown">
                        <button class="btn btn-secondary col dropdown-toggle" type="button"
                          id="queryParameterDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">Delete
                        </button>
                        <div class="dropdown-menu dropdown-menu-right"
                          aria-labelledby="queryParameterDropdownMenuButton">
                          <h5 class="dropdown-header">Attention: Will be executed directly</h5>
                          <a (click)="deleteFunction('parameterType', tableRow.Key, tableRow.Type, tableRow.OptionValue)"
                            class="dropdown-item">delete Type</a>
                          <a (click)="deleteFunction('optionValue', tableRow.Key, tableRow.Type, tableRow.OptionValue)"
                            class="dropdown-item">delete
                            Option Value</a>
                          <div class="dropdown-divider"></div>
                          <a (click)="deleteFunction('queryParameter', tableRow.Key, '', '')"
                            class="dropdown-item">delete
                            whole Parameter {{tableRow.Key}}</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input [(ngModel)]="queryParameterName" name="queryParameterName" class="form-control" type="text"
                        placeholder="Query Name">
                    </td>
                    <td>
                      <input [(ngModel)]="queryParameterType" name="queryParameterType" class="form-control" type="text"
                        placeholder="Query Type">
                    </td>
                    <td>
                      <input [(ngModel)]="queryParameterValue" name="queryParameterValue" class="form-control"
                        type="text" placeholder="Option Value">
                    </td>
                    <td>
                      <div class="dropdown">
                        <button class="btn btn-secondary col dropdown-toggle" type="button"
                          id="queryParameterExecuteDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">Insert
                        </button>
                        <div class="dropdown-menu dropdown-menu-right"
                          aria-labelledby="queryParameterExecuteDropdownMenuButton">
                          <a (click)="buildQueryParameterInsert()" class="dropdown-item">build INSERT</a>
                          <a (click)="executeQueryParameterInsert()" class="dropdown-item">execute
                            INSERT</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>






        </div>
        <div class="tab-pane " id="headerParameter" role="tabpanel" aria-labelledby="headerParameter-tab">



          <div class="card-body"><a *ngIf="!methodDoesNotExistYet"> - Attention: Method has not been added to the database
              yet.</a>

            <div *ngIf="availableParameters" class="row align-items-center">
              <table class="table table-hover table-sm">
                <thead *ngIf="availableParameters?.length; else noHeaderParameter">
                  <tr>
                    <!-- take first result binding and iterate over keys, these keys are table columns -->
                    <th *ngFor="let col of keys(availableParameters[0])" scope="col">{{col}} </th>
                    <th>Action</th>
                  </tr>
                </thead>
                <ng-template #noHeaderParameter>
                  <th>Key</th>
                  <th>MediaType</th>
                  <th>Action</th>
                </ng-template>
                <tbody>
                  <!-- one row for each binding -->
                  <tr *ngFor="let tableRow of availableParameters">
                    <!-- one entry for each key in each binding -->
                    <td (click)="headerTableClick(tableRow.Key, tableRow.MediaType)" *ngFor="let x of keys(tableRow)">
                      {{tableRow[x]}}</td>
                    <td><button class="btn btn-secondary col"
                        (click)="deleteFunction('headerParameter', tableRow.Key, tableRow.MediaType, '')">delete
                        HeaderParameter</button></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                      <input [(ngModel)]="headerParameterKey" name="headerParameterKey" class="form-control" type="text"
                        placeholder="Key">
                    </td>
                    <td>
                      <input [(ngModel)]="headerParameterMediaType" name="headerParameterMediaType" class="form-control"
                        type="text" placeholder="Media Type">
                    </td>

                    <td>
                      <div class="dropdown">
                        <button class="btn btn-secondary col dropdown-toggle" type="button"
                          id="headerParameterExecuteDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">Insert
                        </button>
                        <div class="dropdown-menu dropdown-menu-right"
                          aria-labelledby="headerParameterExecuteDropdownMenuButton">
                          <a (click)="buildHeaderParameterInsert()" class="dropdown-item">build INSERT</a>
                          <a (click)="executeHeaderParameterInsert()" class="dropdown-item">execute
                            INSERT</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>





        </div>
      </div>
    </div>
  </div>

</div>
<!-- Testing END-->
