<div class="card mb-sm-4 shadow p-3 mb-5 bg-white rounded">
    <h5 class="card-header">WADL Template</h5>
    <div class="card-body">
        <h5 class="card-title"> Web Application Description Language </h5>

        <div class="row">

            <div class="col">
                <p class="card-text">The WADL template uses a tabular approach for building a graph.
                    First, a resource base path, and optionally a physical entity that provides that resource, have to
                    be created.
                    Afterwards, services can be added to existing resources. After having defined the services, requests
                    and responses can be added as well.
                    <i class="fas fa-question-circle" role="button" data-bs-toggle="modal" data-bs-target="#WADL_HELPER"></i>
                </p>

            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-header">
                        Template Statistics
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">No of base resources</th>
                                    <th scope="col">No of services</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{(baseResources$ | async)?.length}}</td>
                                    <td>{{(resources$ | async)?.length}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="px-sm-2 py-3">

            <!-- tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" type="button" routerLink="base-resources" [routerLinkActive]="'active'" role="tab">Create new base
                        resource</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" type="button" routerLink="services" [routerLinkActive]="'active'" role="tab">Add new resource</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" type="button" routerLink="requests" [routerLinkActive]="'active'" role="tab">Add new method and request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" type="button" routerLink="responses" [routerLinkActive]="'active'" role="tab">Add new responses</a>
                </li>
            </ul>


            <div class="tab-content py-3">

                <div class="tab-pane fade show active" role="tabpanel">
                    <router-outlet></router-outlet>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="WADL_HELPER" tabindex="-1" role="dialog" aria-labelledby="FPD_HELPER" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> The Web Application Description Language </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Web Application Description Language (WADL) is W3C member submission defining a description language to model (RESTful)
                    web services. It was originally developed as an XML representation. An ontology design pattern was created by the
                    initial developers of Lions around 2019 and has been maintained by HSU AUT since.
                </p>
                <img width="100%" src="../../../../../../assets/images/WADL-example.png" >
                <p>
                    With WADL, a available resources can be modelled together with the requests required to retrieve these resources via HTTP as
                    well as the expected responses. Starting point of each WADL model is a base resource defining a base URL to which URLs of
                    sub-resources can be appended. Every resource then contains a description of HTTP methods available to apply CRUD
                    (create, read, update, delete) operations. Every method then contains a definition of the request that has to be made on
                    that method. Requests basically act as containers for parameters which have to be submitted when making a request.
                    Request parameters may be sent as header parameters, query parameters (i.e. with a variable name appended to a resource path),
                    as so-called template parameters (i.e. as part of the path) or encoded with a certain media type using a representation element.
                    Comparable to a request, possible responses of a method may also be modeled. A response contains the parameters that are
                    sent together with the way they are encoded. Response parameters are encoded using a representation that defines the media type
                    used for encoding the parameters (e.g. application/json)
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    Got it! </button>
            </div>
        </div>
    </div>
</div>
