<div class="modal fade bd-example-modal-lg" id="DIN_HELPER" tabindex="-1" role="dialog" aria-labelledby="DIN_HELPER"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DIN_HELPER"> Data element descriptions </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <img src="../../../../../../assets/images/DINEN61360.png" class="card-img-top"> -->
                <img src="assets/images/DINEN61360.png" class="card-img-top">
                <p class="card-text">The DIN EN 61360 defines concepts to describe properties of technical systems.
                    The properties are described as "data elements" (e.g. lot size, filling level, error codes, live
                    values, ...) and can be used to characterize a technical system.

                    Data elements can be described by a type description and an instance description. This brings the
                    benefit of a uniform meta description that distinguishes between type descriptions, used to classify
                    possible properties or characteristics in general, and instances that can be used to express certain
                    values of a property (e.g. lot size = 4). The type description represents the characteristics of a
                    physical or logical object that can be used to describe this object (e.g. unit of measure for the
                    lot size). Whenever a data element is instantiated, this data element receives an additional
                    instance
                    de-scription. The instance description complements the type description with further details, e.g. a
                    measured value (e.g. lot size = “4”). In order to describe the data elements in a
                    machine-interpretable way, attributes have to be used to further describe a type or an instance of a
                    data element. </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    Got it! </button>
            </div>
        </div>
    </div>
</div>
