<ul class="list-group">
    <li *ngFor="let odp of this.odpInfos" class="list-group-item pb-3">
        <h6>{{odp.name}}</h6>
        <div class="d-flex flex-row">
            <form class="flex-fill row" [formGroup]="this.odpFormGroup">
                <label for="selectVersion" class="col-sm-3 col-md-3 col-lg-2 col-form-label">Version</label>
                <div class="col-sm-8">
                    <select class="m-2" class="form-select" id="selectVersion"
                        [formControlName]="odp.name">
                        <option *ngFor="let version of odp.versions" [ngValue]="version">{{version}}
                        </option>
                    </select>
                </div>
                <button type="button" class="col-lg-2 col-sm-12 btn btn-success"
                    (click)="loadOdp(odp.name)">Load ODP</button>
            </form>
        </div>
    </li>
</ul>
<div class="row mt-3">
    <div class="col d-flex justify-content-end">
        <button type="button" class="btn btn-secondary me-3" (click)="setAllVersionsToLatest()">Set
            all to latest</button>
        <button type="button" class="btn btn-success" (click)="loadAllOdps()">Load all ODPs</button>
    </div>
</div>
