<div class="card mb-sm-4 shadow p-3 mb-5 bg-white rounded">
    <h5 class="card-header">DIN EN 61360 Template </h5>
    <div class="card-body">
        <h5 class="card-title"> Data element types and instances </h5>

        <div class="row">

            <div class="col">
                <p class="card-text">The DIN EN 61360 template uses a tabular approach for building a graph. One can add
                    type
                    and instance descriptions to any kind of entity.
                    <button type="button" class="badge rounded-pill bg-light text-dark" data-bs-toggle="modal" data-bs-target="#DIN_HELPER">?</button>
                </p>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-header"> Template Statistics </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">No# Data Elements</th>
                                    <th scope="col">No# Type Descriptions</th>
                                    <th scope="col">No# Instance Descriptions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ToDo: include statistics -->
                                <tr>
                                    <td>{{NoOfDE}}</td>
                                    <td>{{NoOfDET}}</td>
                                    <td>{{NoOfDEI}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-sm-2 py-3">
            <!-- main tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="type-tab" data-bs-toggle="tab" data-bs-target="#type" type="button" role="tab"
                        aria-controls="type" aria-selected="true"> Create type description </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="instance-tab" data-bs-toggle="tab" data-bs-target="#instance" type="button" role="tab"
                        aria-controls="instance" aria-selected="false"> Create instance description </a>
                </li>
            </ul>

            <div class="tab-content py-3" id="myTabContent">
                <div class="tab-pane fade show active" id="type" role="tabpanel" aria-labelledby="type-tab">
                    <!-- content to create new type -->
                    <div class="row" [formGroup]="typeDescriptionForm">
                        <div class="col-sm cross-validation">
                            <label> Code </label>
                            <input class="form-control" formControlName="code" name="code" type="text"
                                placeholder="e.g. 'ABC123'" required>
                        </div>
                        <div class="col-sm">
                            <label> Version </label>
                            <input class="form-control" formControlName="version" name="version" type="text"
                                placeholder="e.g. '1'" required>
                        </div>
                        <div class="col-sm">
                            <label> Revision </label>
                            <input class="form-control" formControlName="revision" name="revision" type="text"
                                placeholder="e.g. '1'" required>
                        </div>
                        <div class="col-sm">
                            <label> Preferred Name </label>
                            <input class="form-control" formControlName="preferred_name" name="preferred_name"
                                type="text" placeholder="e.g. 'MyTypeOfProperty'" required>
                        </div>
                    </div>
                    <div class="row" [formGroup]="typeDescriptionForm">
                        <div class="form-group col-sm">
                            <label> Short Name </label>
                            <input class="form-control" formControlName="short_name" name="short_name" type="text"
                                placeholder="e.g. 'myProperty'" required>
                        </div>
                        <div class="form-group col-sm">
                            <label> Definition </label>
                            <input class="form-control" formControlName="definition" name="definition" type="text"
                                placeholder="e.g. 'My property is defined as...'" required>
                        </div>
                        <div class="form-group col-sm">
                            <label> Unit of Measure </label>
                            <input class="form-control" formControlName="UoM" name="UoM" type="text"
                                placeholder="e.g. 'km/h'" required>
                        </div>
                        <div class="form-group col-sm">
                            <label> Data type </label>
                            <select formControlName="dataType" name="dataType" class="form-control" required>
                                <option value=null selected hidden></option>
                                <option *ngFor='let x of datatypes'>
                                    {{x}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-sm-1 align-self-end">
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <button type="button" class="btn btn-secondary"
                                    (click)="createTriple('add', 'type', typeDescriptionForm)">Add</button>
                                <div class="btn-group" role="group">
                                    <button id="addButton" type="button" class="btn btn-secondary dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="addButton">
                                        <a class="dropdown-item"
                                            (click)="createTriple('delete', 'type', typeDescriptionForm)">Delete
                                            type description</a>
                                        <a class="dropdown-item"
                                            (click)="createTriple('build', 'type', typeDescriptionForm)">Download SPARQL
                                            INSERT</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- sub tabs -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="exType-tab" data-bs-toggle="tab" data-bs-target="#exType" type="button" role="tab"
                                aria-controls="exType" aria-selected="true"> Existing type descriptions </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="eclass-tab" data-bs-toggle="tab" data-bs-target="#eclass" type="button" role="tab"
                                aria-controls="eclass" aria-selected="false"> Ecl@ss search </a>
                        </li>
                    </ul>
                    <div class="tab-content py-3" id="myTabContent">
                        <div class="tab-pane fade show active" id="exType" role="tabpanel" aria-labelledby="type-tab">
                            <app-table [currentTable]="allTypes"
                                [tableTitle]="'Available Type Descriptions in Database'"
                                [tableExplanation]="'Click on a row to fill the form above.'"
                                (tableClickedRow)="typeTableClick('type', $event)"
                                [filter]="filterOption">
                            </app-table>
                        </div>
                        <div class="tab-pane " id="eclass" role="tabpanel" aria-labelledby="eclass-tab">
                            <div class="input-group mb-3" [formGroup]="eclassSearchForm">
                                <input formControlName="searchTerm" type="text" class="form-control"
                                    placeholder="Preferred Name" aria-label="" aria-describedby="basic-addon1">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search ecl@ss</button>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item" (click)="eclassSearch(eclassSearchForm,'db')"> local database </a>
                                      <a class="dropdown-item" (click)="eclassSearch(eclassSearchForm,'ws')"> webservice </a>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="propertyList.length!==0">
                                <app-table [currentTable]="propertyList" (tableClickedRow)="eclassTableClick($event)" [filter]="filterOption">
                                </app-table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane " id="instance" role="tabpanel" aria-labelledby="instance-tab">
                    <!-- content to create new instance -->
                    <div class="row" [formGroup]="instanceDescriptionForm">
                        <div class="form-group col-sm">
                            <label> Described Individual </label>
                            <input formControlName="individual" name="individual" type="text"
                                placeholder="[Input described Individual]" class="form-control">
                        </div>
                        <div class="form-group col-sm">
                            <label> Code </label>
                            <input formControlName="code" name="code" type="text" placeholder="[Code]"
                                class="form-control">
                        </div>
                    </div>
                    <div class="row" [formGroup]="instanceDescriptionForm">
                        <div class="form-group col-sm">
                            <label> Value </label>
                            <input formControlName="value" name="value" type="text" placeholder="[Input value]"
                                class="form-control">
                        </div>
                        <div class="form-group col-sm">
                            <label> Expression Goal </label>
                            <select formControlName="expressionGoal" name="expressionGoal" class="form-control">
                                <option value=null selected hidden></option>
                                <option *ngFor='let x of expressionGoals'>
                                    {{x}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-sm">
                            <label> Logic Interpretation </label>
                            <select formControlName="logicInterpretation" name="logicInterpretation"
                                class="form-control">
                                <option value=null selected hidden></option>
                                <option *ngFor='let x of logicInterpretations'>
                                    {{x}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-sm-1 align-self-end">
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <button type="button" class="btn btn-secondary"
                                    (click)="createTriple('add', 'instance', instanceDescriptionForm)">Add</button>
                                <div class="btn-group" role="group">
                                    <button id="addButton" type="button" class="btn btn-secondary dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="addButton">
                                        <a class="dropdown-item"
                                            (click)="createTriple('delete', 'instance', instanceDescriptionForm)">Delete
                                            instance description</a>
                                        <a class="dropdown-item"
                                            (click)="createTriple('build', 'instance', instanceDescriptionForm)">Download
                                            SPARQL
                                            INSERT</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- sub tabs -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="exType2-tab" data-bs-toggle="tab" data-bs-target="#exType2" type="button" role="tab"
                                aria-controls="exType2" aria-selected="true"> Existing type descriptions </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="exInstance-tab" data-bs-toggle="tab" data-bs-target="#exInstance" type="button" role="tab"
                                aria-controls="exInstance" aria-selected="false"> Existing instance descriptions </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="VDI3682-tab" data-bs-toggle="tab" data-bs-target="#VDI3682" type="button" role="tab"
                                aria-controls="VDI3682" aria-selected="false"> VDI 3682 </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="VDI2206-tab" data-bs-toggle="tab" data-bs-target="#VDI2206" type="button" role="tab"
                                aria-controls="VDI2206" aria-selected="false"> VDI 2206 </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="ISA88-tab" data-bs-toggle="tab" data-bs-target="#ISA88" type="button" role="tab"
                                aria-controls="ISA88" aria-selected="false"> ISA 88 </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="ISO22400-tab" data-bs-toggle="tab" data-bs-target="#ISO22400" type="button" role="tab"
                                aria-controls="ISO22400" aria-selected="false"> ISO22400-2 </a>
                        </li>
                    </ul>
                    <div class="tab-content py-3" id="myTabContent">
                        <div class="tab-pane fade show active" id="exType2" role="tabpanel"
                            aria-labelledby="exType2-tab">
                            <app-table [currentTable]="allTypes"
                                [tableTitle]="'Available type descriptions in database'"
                                [tableExplanation]="'Click on a row to fill the form above.'"
                                (tableClickedRow)="typeTableClick('instance', $event)" [filter]="filterOption">
                            </app-table>
                        </div>
                        <div class="tab-pane " id="exInstance" role="tabpanel" aria-labelledby="exInstance-tab">
                            <app-table [currentTable]="allInstances"
                                [tableTitle]="'Available instance descriptions in database'"
                                [tableExplanation]="'Click on a row to fill the form above.'"
                                [filter]="filterOption">
                            </app-table>
                        </div>
                        <div class="tab-pane " id="VDI3682" role="tabpanel" aria-labelledby="VDI3682-tab">
                            <app-table [currentTable]="allProcessInfo"
                                [tableTitle]="'Available process descriptions in database'"
                                [tableExplanation]="'Click on a row to asign a data element to it.'"
                                (tableClickedCell)="anyTableClick($event)" [filter]="filterOption">
                            </app-table>
                        </div>
                        <div class="tab-pane " id="VDI2206" role="tabpanel" aria-labelledby="VDI2206-tab">
                            <div class="px-sm-2 py-sm-2">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="sys-tab" data-bs-toggle="tab" data-bs-target="#sys" type="button" role="tab"
                                            aria-controls="sys" aria-selected="true"> System </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="mod-tab" data-bs-toggle="tab" data-bs-target="#mod" type="button" role="tab"
                                            aria-controls="mod" aria-selected="false"> Module </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="com-tab" data-bs-toggle="tab" data-bs-target="#com" type="button" role="tab"
                                            aria-controls="com" aria-selected="false"> Component </a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="sys" role="tabpanel"
                                        aria-labelledby="sys-tab">
                                        <app-table [currentTable]="allStructureInfoContainmentbySys"
                                            [tableTitle]="'Available structure descriptions in database'"
                                            [tableExplanation]="'Click on a row to asign a data element to it.'"
                                            (tableClickedCell)="anyTableClick($event)" [filter]="filterOption"></app-table>
                                    </div>
                                    <div class="tab-pane " id="mod" role="tabpanel" aria-labelledby="mod-tab">
                                        <app-table [currentTable]="allStructureInfoContainmentbyMod"
                                            [tableTitle]="'Available structure descriptions in database'"
                                            [tableExplanation]="'Click on a row to asign a data element to it.'"
                                            (tableClickedCell)="anyTableClick($event)" [filter]="filterOption"></app-table>
                                    </div>
                                    <div class="tab-pane " id="com" role="tabpanel" aria-labelledby="com-tab">
                                        <app-table [currentTable]="allStructureInfoContainmentbyCOM"
                                            [tableTitle]="'Available structure descriptions in database'"
                                            [tableExplanation]="'Click on a row to asign a data element to it.'"
                                            (tableClickedCell)="anyTableClick($event)" [filter]="filterOption"></app-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane " id="ISA88" role="tabpanel" aria-labelledby="ISA88-tab">
                            <app-table [currentTable]="allBehaviorInfo"
                                [tableTitle]="'Available behavior descriptions in database'"
                                [tableExplanation]="'Click on a row to asign a data element to it.'"
                                (tableClickedCell)="anyTableClick($event)">
                            </app-table>
                        </div>
                        <div class="tab-pane " id="ISO22400" role="tabpanel" aria-labelledby="ISO22400-tab">
                            <app-table [currentTable]="isoInfo"
                                [tableTitle]="'Available structural descriptions in database'"
                                [tableExplanation]="'Click on a row to asign a data element to it.'"
                                (tableClickedCell)="anyTableClick($event)">
                            </app-table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modals -->
<!--  helper modal -->
<div class="modal fade bd-example-modal-lg" id="DIN_HELPER" tabindex="-1" role="dialog" aria-labelledby="DIN_HELPER"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DIN_HELPER"> Data element descriptions </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <img src="../../../../../../assets/images/DINEN61360.png" class="card-img-top"> -->
                <img src="assets/images/DINEN61360.png" class="card-img-top">
                <p class="card-text">The DIN EN 61360 defines concepts to describe properties of technical systems.
                    The properties are described as "data elements" (e.g. lot size, filling level, error codes, live
                    values, ...) and can be used to characterize a technical system.

                    Data elements can be described by a type description and an instance description. This brings the
                    benefit of a uniform meta description that distinguishes between type descriptions, used to classify
                    possible properties or characteristics in general, and instances that can be used to express certain
                    values of a property (e.g. lot size = 4). The type description represents the characteristics of a
                    physical or logical object that can be used to describe this object (e.g. unit of measure for the
                    lot size). Whenever a data element is instantiated, this data element receives an additional
                    instance
                    de-scription. The instance description complements the type description with further details, e.g. a
                    measured value (e.g. lot size = “4”). In order to describe the data elements in a
                    machine-interpretable way, attributes have to be used to further describe a type or an instance of a
                    data element. </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    Got it! </button>
            </div>
        </div>
    </div>
</div>


<!-- old stuff -->

<!-- <div class="col">
    <div class="card h-100">
        <div class="card-header"> Template Options </div>
        <div class="card-body">
            <div class="form-check">
                <input class="custom-control-input" type="radio" [(ngModel)]="TemplateOption" name="propertyRadio"
                    id="propertyRadios1" value="typeDesc">
                <label class="custom-control-label" for="propertyRadios1" (click)="setTableDescription(undefined)">
                    Create type description </label>
            </div>
            <div class="form-check">
                <input class="custom-control-input" type="radio" [(ngModel)]="TemplateOption" name="propertyRadio"
                    id="propertyRadios3" value="instanceDesc">
                <label class="custom-control-label" for="propertyRadios3"> Create instance description
                </label>
            </div>
        </div>
    </div>
</div> -->
<!-- <div *ngIf="TemplateOption===undefined" class="card">
    <div class="card-body">
        <h5 class="card-title">DIN EN 61360 Insert Template</h5>
        <p class="card-text"> Select an option to add property information. </p>
    </div>
</div> -->
<!--
<div *ngIf="TemplateOption === 'typeDesc'">
    <div class="card mb-sm-4 shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title"> DIN EN 61360 Mandatory Type Definition Template </h5>
            <form>
                <div class="row">
                    <div class="form-group col-sm">
                        <label> Code </label>
                        <input class="form-control" [(ngModel)]="code" name="code" type="text" placeholder="[Code]">
                    </div>
                    <div class="form-group col-sm">
                        <label> Version </label>
                        <input class="form-control" [(ngModel)]="version" name="version" type="text"
                            placeholder="[Version]">
                    </div>
                    <div class="form-group col-sm">
                        <label> Revision </label>
                        <input class="form-control" [(ngModel)]="revision" name="revision" type="text"
                            placeholder="[Revision]">
                    </div>
                    <div class="form-group col-sm">
                        <label> Preferred Name </label>
                        <input class="form-control" [(ngModel)]="preferred_name" name="preferred_name" type="text"
                            placeholder="[Preferred Name]">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm">
                        <label> Short Name </label>
                        <input class="form-control" [(ngModel)]="short_name" name="short_name" type="text"
                            placeholder="[Short Name]">
                    </div>
                    <div class="form-group col-sm">
                        <label> Definition </label>
                        <input class="form-control" [(ngModel)]="definition" name="definition" type="text"
                            placeholder="[Definition]">
                    </div>
                    <div class="form-group col-sm">
                        <label> Unit of Measure </label>
                        <input class="form-control" [(ngModel)]="UoM" name="UoM" type="text"
                            placeholder="[Unit of Measure]">
                    </div>
                    <div class="form-group col-sm">
                        <label> Data type </label>
                        <select [(ngModel)]="selectedDataytpe" name="selectedDataytpe" class="form-control">
                            <option *ngFor='let key of keys(datatype)' [ngValue]="key">
                                {{datatype[key]}}
                            </option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="row">
                <button class="btn btn-secondary col m-3" (click)="buildTypeInsert()">build INSERT</button>
                <button class="btn btn-secondary col m-3" (click)="insertDINEN61360T()">execute INSERT</button>
            </div>
        </div>
    </div>

    <div class="card mb-sm-4 shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title"> ecl@ss properties </h5>
            <p class="card-text"> Click on a row to fill in necessary type descriptions </p>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" (click)="searchByPreferredName(search_name)"
                        type="button"> Search ecl@ss Database </button>
                </div>
                <input [(ngModel)]="search_name" type="text" class="form-control" placeholder="Preferred Name"
                    aria-label="" aria-describedby="basic-addon1">
            </div>
        </div>
        <div *ngIf="propertyList.length!==0" class="card px-sm-2 py-sm-2">
            <app-table [currentTable]="propertyList" (tableClickedRow)="eclassTableClick($event)"></app-table>
        </div>
    </div>
</div>



<div *ngIf="TemplateOption === 'instanceDesc'">
    <div class="card mb-sm-4 shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title"> DIN EN 61360 Instance Definition Template </h5>
            <div class="row">
                <div class="col">
                    <div class="card h-100">
                        <div class="card-header">
                            Instance Definition
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="form-group col-sm">
                                        <label> Described Individual </label>
                                        <input [(ngModel)]="describedIndividual" name="describedIndividual" type="text"
                                            placeholder="[Input described Individual]" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm">
                                        <label> Code </label>
                                        <input [(ngModel)]="code" name="code" type="text" placeholder="[Code]"
                                            class="form-control">
                                    </div>
                                    <div class="form-group col-sm">
                                        <label> Value </label>
                                        <input [(ngModel)]="value" name="value" type="text" placeholder="[Input value]"
                                            class="form-control">
                                    </div>
                                    <div class="form-group col-sm">
                                        <label> Expression Goal </label>
                                        <select [(ngModel)]="selectedExpressionGoal" name="selectedExpressionGoal"
                                            class="form-control">
                                            <option *ngFor='let key of keys(expressionGoal)' [ngValue]="key">
                                                {{expressionGoal[key]}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm">
                                        <label> Logic Interpretation </label>
                                        <select [(ngModel)]="selectedLogicInterpretation"
                                            name="selectedLogicInterpretation" class="form-control">
                                            <option *ngFor='let key of keys(logicInterpretation)' [ngValue]="key">
                                                {{logicInterpretation[key]}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </form>

                            <div class="row">
                                <button class="btn btn-secondary col m-3" (click)="buildInstanceInsert()">build
                                    INSERT</button>
                                <button class="btn btn-secondary col m-3" (click)="insertDINEN61360I()">execute
                                    INSERT</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-header"> Instance Template Options </div>
                        <div class="card-body">
                            <p class="card-text"> Select list or table to display from graph database </p>
                            <div>
                                <div class="form-check">
                                    <input class="custom-control-input" type="radio" [(ngModel)]="instanceOption"
                                        name="instanceRadios" id="instanceRadios1" value="allTypeDescriptions">
                                    <label class="custom-control-label" for="instanceRadios1"
                                        (click)="setTableDescription('allTypeDescriptions')">
                                        DIN EN 61360 Type Descriptions
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="custom-control-input" type="radio" [(ngModel)]="instanceOption"
                                        name="instanceRadios" id="instanceRadios2" value="allProcessTable">
                                    <label class="custom-control-label" for="instanceRadios2"
                                        (click)="setTableDescription('allProcessTable')">
                                        VDI 3682 Individuals
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="custom-control-input" type="radio" [(ngModel)]="instanceOption"
                                        name="instanceRadios" id="instanceRadios3" value="structureTable">
                                    <label class="custom-control-label" for="instanceRadios3"
                                        (click)="setTableDescription('structureTable')">
                                        VDI 2206 Individuals
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="custom-control-input" type="radio" [(ngModel)]="instanceOption"
                                        name="instanceRadios" id="instanceRadios4" value="ISA88">
                                    <label class="custom-control-label" for="instanceRadios4"
                                        (click)="setTableDescription('ISA88')">
                                        ISA 88 Individuals
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="custom-control-input" type="radio" [(ngModel)]="instanceOption"
                                        name="instanceRadios" id="instanceRadios6" value="CustomTable">
                                    <label class="custom-control-label" for="instanceRadios6"
                                        (click)="setTableDescription('CustomTable')">
                                        Define Custom Table
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="instanceOption === 'CustomTable'">
    <div class="card mb-sm-4 shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title">Custom Table</h5>
            <p class="card-text">Define Select Query:</p>
            <textarea [(ngModel)]="selectString" class="w-100" rows="15" name="selectString"></textarea>
            <button class="btn btn-secondary" (click)="executeSelect(selectString)">execute SELECT</button>
        </div>

        <div *ngIf="customTable" class="card px-sm-2 py-sm-2">
            <app-table [currentTable]="customTable" [tableTitle]="tableTitle" [tableExplanation]="tableSubTitle"
                (tableClickedCell)="iriTableClick($event)"></app-table>
        </div>
    </div>
</div>
<div *ngIf="instanceOption === 'allTypeDescriptions'" class="px-sm-2 py-sm-2">
    <app-table [currentTable]="allTypes" [tableTitle]="tableTitle" [tableExplanation]="tableSubTitle"
        (tableClickedRow)="propertyTableClick($event)"></app-table>
</div>
<div *ngIf="instanceOption === 'ISA88'" class="px-sm-2 py-sm-2">
    <app-table [currentTable]="allBehaviorInfo" [tableTitle]="tableTitle" [tableExplanation]="tableSubTitle"
        (tableClickedCell)="iriTableClick($event)"></app-table>
</div>
<div *ngIf="instanceOption === 'allProcessTable'" class="px-sm-2 py-sm-2">
    <app-table [currentTable]="allProcessInfo" [tableTitle]="tableTitle" [tableExplanation]="tableSubTitle"
        (tableClickedCell)="iriTableClick($event)"></app-table>
</div>
<div *ngIf="instanceOption === 'structureTable'">
    <div class="px-sm-2 py-sm-2">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="sys-tab" data-toggle="tab" href="#sys" role="tab" aria-controls="sys"
                    aria-selected="true" (click)="setStructureTable('System_BUTTON')"> System </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="mod-tab" data-toggle="tab" href="#mod" role="tab" aria-controls="mod"
                    aria-selected="false" (click)="setStructureTable('Module_BUTTON')"> Module </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="com-tab" data-toggle="tab" href="#com" role="tab" aria-controls="com"
                    aria-selected="false" (click)="setStructureTable('Component_BUTTON')"> Component </a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="sys" role="tabpanel" aria-labelledby="sys-tab">
                <app-table [currentTable]="structureTable" [tableTitle]="tableTitle" [tableExplanation]="tableSubTitle"
                    (tableClickedCell)="iriTableClick($event)"></app-table>
            </div>
            <div class="tab-pane " id="mod" role="tabpanel" aria-labelledby="mod-tab">
                <app-table [currentTable]="structureTable" [tableTitle]="tableTitle" [tableExplanation]="tableSubTitle"
                    (tableClickedCell)="iriTableClick($event)"></app-table>
            </div>
            <div class="tab-pane " id="com" role="tabpanel" aria-labelledby="com-tab">
                <app-table [currentTable]="structureTable" [tableTitle]="tableTitle" [tableExplanation]="tableSubTitle"
                    (tableClickedCell)="iriTableClick($event)"></app-table>
            </div>
        </div>
    </div>
</div> -->
