
  <div class="card mb-sm-4 shadow p-3 mb-5 bg-white rounded">
    <h5 class="card-header">ISA 88 Template</h5>
    <div class="card-body">
      <p class="card-text"> As the state machine of the ISA 88 is standardized, one can add a standard state machine
        to any element by choosing the element and the mode.</p>
      <div class="row">
        <div class="col">Select element to add ISA 88 state machine to
          <select [(ngModel)]="selectedOption" name="selectedOption" class="form-control">
            <option *ngFor='let x of selectOption'>
              {{x}}
            </option>
          </select>
        </div>
        <div class="col">Select Mode to be included
          <select [(ngModel)]="optionMode" name="optionMode" class="form-control">
            <option>Production</option>
            <option>Maintenance</option>
          </select>
        </div>
      </div>
      <div class="row">
        <button (click)="buildInsert()" class="btn btn-secondary col m-3">Download SPARQL INSERT</button>
        <button (click)="executeInsert()" class="btn btn-secondary col m-3">Add</button>
      </div>
    </div>
  </div>

<app-table [currentTable]="currentTable" [tableTitle]="tableTitle" [tableExplanation]="tableSubTitle"></app-table>