<div class="px-sm-3 py-sm-3 shadow p-3 bg-white rounded">
    <div class="card border-0">
        <div class="card-body ">
            <!-- titles -->
            <h5 class="card-title">{{tableTitle}}</h5>

            <div class="row py-2">
                <div class="col-8">
                    <p class="card-text">{{tableExplanation}}</p>
                </div>
            </div>
            <div class="row align-items-center"  *ngIf="this._listData">
                <div class="col-auto">
                    <label class="form-label" for="inlineFormSelectPref">Show element type:</label>
                </div>
                <div class="col-auto">
                    <select [formControl]="listSelector" class="form-select d-inline" id="listSelector">
                        <!-- <option value=null selected hidden>Select list type...</option> -->
                        <option *ngFor='let listData of this._listData' [ngValue]="listData">
                            {{listData.header}}
                        </option>
                    </select>
                </div>
                <div class="col-5" *ngIf="showFilter">
                    <div class="row">
                        <div class="col-auto">
                            <label for="inputGroupSelect03" class="col-form-label">Filter</label>
                        </div>
                        <div class="col-8">
                            <div class="input-group mb-3" [formGroup]="filterForm">
                                <select formControlName="columnName" class="form-select" style="width:40%" id="inputGroupSelect03">
                                    <option value=null selected hidden>Select column...</option>
                                    <option *ngFor='let col of this.tableHeaders'>
                                        {{col}}
                                    </option>
                                </select>
                                <input formControlName="filterCondition" class="form-control" style="width: 40%;" type="text" placeholder="Filter condition">
                            </div>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-outline-secondary" (click)="clearFilter()">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center px-sm-2">
                <!-- table -->
                <table class="table table-hover table-sm" style="cursor: pointer">
                    <thead>
                        <tr>
                            <!-- take first result binding and iterate over keys, these keys are table columns -->
                            <th *ngFor="let header of this.tableHeaders" scope="col">{{header}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- one row for each binding -->
                        <tr *ngFor="let tableRow of pagedTable">
                            <!-- one entry for each key in each binding -->
                            <td *ngFor="let key of this.tableHeaders" (click)="tableClickRow(tableRow)"
                                (click)="tableClickCell(tableRow[key])">
                                {{tableRow[key]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- pagination -->
            <div class="row float-end">
                <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group me-2" role="group">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Items per page: {{itemsPerPage}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" *ngFor='let option of itemsPerPageOptions'
                                    (click)="setItemsPerPage(option)">{{option}}</a>
                            </div>
                        </div>
                        <div class="btn-group me-2" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-outline-secondary" (click)="firstPage()">
                                <i class="fas fa-angle-double-left"></i>
                            </button>
                            <button type="button" class="btn btn-outline-secondary" (click)="previousPage()">
                                <i class="fas fa-chevron-left"></i>
                            </button>
                            <button type="button" class="btn btn-outline-secondary" (click)="nextPage()">
                                <i class="fas fa-chevron-right"></i>
                            </button>
                            <button type="button" class="btn btn-outline-secondary" (click)="lastPage()">
                                <i class="fas fa-angle-double-right"></i>
                            </button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Page: {{currentPage + 1}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" *ngFor='let page of pages' (click)="setCurrentPage(page-1)">{{page}}</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
