<!-- Table card -->
<div class="px-sm-3 py-sm-3 shadow p-3 bg-white rounded" *ngIf="currentTable.length!=0">
    <div class="card border-0">
        <div class="card-body ">
            <!-- titles -->
            <h5 class="card-title">{{tableTitle}}</h5>

            <div class="row py-3">
                <div class="col">
                    <p class="card-text">{{tableExplanation}}</p>
                </div>
                <div class="col" *ngIf="filter">
                    <div class="input-group mb-3">
                        <select [(ngModel)]="filterRow" class="custom-select" id="inputGroupSelect03">
                            <option value=null selected hidden></option>
                            <option *ngFor='let col of keys(pagedTable[0][0])'>
                                {{col}}
                            </option>
                        </select>
                        <input (keyup)="applyFilter($event, filterRow)" class="form-control" type="text"
                            placeholder="write a filter here">
                    </div>
                </div>
            </div>

            <div class="row align-items-center px-sm-2">
                <!-- table -->
                <table class="table table-hover table-sm" style="cursor: pointer">
                    <thead>
                        <tr>
                            <!-- take first result binding and iterate over keys, these keys are table columns -->
                            <th *ngFor="let col of keys(pagedTable[0][0])" scope="col">{{col}} </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- one row for each binding -->
                        <tr *ngFor="let tableRow of pagedTable[currentPage]">
                            <!-- one entry for each key in each binding -->
                            <td *ngFor="let x of keys(tableRow)" (click)="tableClickRow(tableRow)"
                                (click)="tableClickCell(tableRow[x])">
                                {{tableRow[x]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- pagination -->
            <div class="row float-end">
                <div class="btn-toolbar" role="toolbar">

                        <div class="btn-group me-2" role="group">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Items per page: {{itemsPerPageOptions[0]}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" *ngFor='let option of itemsPerPageOptions'
                                    (click)="setItemsPerPage(option)">{{option}}</a>
                            </div>
                        </div>
                        <div class="btn-group me-2" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-outline-secondary" (click)="firstPage()">
                                <i class="fas fa-angle-double-left"></i>
                            </button>
                            <button type="button" class="btn btn-outline-secondary" (click)="previousPage()">
                                <i class="fas fa-chevron-left"></i>
                            </button>
                            <button type="button" class="btn btn-outline-secondary" (click)="nextPage()">
                                <i class="fas fa-chevron-right"></i>
                            </button>
                            <button type="button" class="btn btn-outline-secondary" (click)="lastPage()">
                                <i class="fas fa-angle-double-right"></i>
                            </button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Page: {{currentPage + 1}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" *ngFor='let page of pages' (click)="setCurrentPage(page-1)">{{page}}</a>
                            </div>
                        </div>
                </div>

                <!-- <div class="dropdown col-lg-2 col-sm-3 col-xs-6">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Items per page: {{itemsPerPageOptions[0]}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" *ngFor='let option of itemsPerPageOptions'
                            (click)="setItemsPerPage(option)">{{option}}</a>
                    </div>
                </div>
                <div class="btn-group col-lg-2 col-sm-3" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-secondary" (click)="firstPage()"><i
                            class="fas fa-angle-double-left"></i></button>
                    <button type="button" class="btn btn-outline-secondary" (click)="previousPage()"><i
                            class="fas fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-outline-secondary" (click)="nextPage()"><i
                            class="fas fa-chevron-right"></i></button>
                    <button type="button" class="btn btn-outline-secondary" (click)="lastPage()"><i
                            class="fas fa-angle-double-right"></i></button>
                </div>
                <div class="dropleft col-lg-1 col-sm-2">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Page: {{currentPage + 1}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" *ngFor='let page of pages' (click)="setCurrentPage(page-1)">{{page}}</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
