<div class="row" [formGroup]="serviceForm">
    <div class="form-group col-sm">
        <label class="form-label">Select a resource base path</label>
        <select formControlName=resourceBasePath name="resourceBasePath" class="form-select">
            <option value=null selected hidden></option>
            <option *ngFor='let resourceBasePath of resourceBasePaths'>
                {{resourceBasePath}}
            </option>
        </select>
    </div>
    <div class="form-group col-sm">
        <label class="form-label">Path of the new service </label>
        <div class="input-group">
            <span class="input-group-text" id="servicePathLabel">/</span>
            <input type="text" class="form-control" formControlName="servicePath" placeholder="[URL of service path]"  aria-describedby="servicePathLabel">
        </div>

    </div>
    <div class="form-group col-sm-1 align-self-end">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-secondary"
                (click)="addService()">Add</button>
            <div class="btn-group" role="group">
                <button id="addButton" type="button" class="btn btn-secondary dropdown-toggle"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="addButton">
                    <a class="dropdown-item"
                        (click)="deleteService()">Delete service</a>
                    <a class="dropdown-item"
                        (click)="getServiceInsertString()">Download SPARQL
                        INSERT</a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-table [currentTable]="servicesTable" (tableClickedRow)="tableClick('SERVICE', $event)">
</app-table>
