<div class="col bg-dark" style="height: 100%; min-height: 1200px; width: 235px">


      <ul class="nav nav-pills nav-fill" style="width: 220px">
        <li class="nav-item">
          <a class="nav-link text-white text-left bg-dark" routerLink="/vdi3682"> <i class="fas fa-anchor"
              style="width: 20px"></i> VDI3682 Template</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-left bg-dark" routerLink="/dinen61360"> <i class="fas fa-database"
              style="width: 20px"></i> DINEN61360 Template</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-left bg-dark" routerLink="/vdi2206"><i class="fas fa-sitemap"
              style="width: 20px"></i> VDI2206 Template</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-left bg-dark" routerLink="/wadl"> <i class="fas fa-globe"
              style="width: 20px"></i> WADL Template </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-left bg-dark" routerLink="/isa88"><i class="fas fa-project-diagram"
              style="width: 20px"></i> ISA 88
            Template</a>
        </li>
        <!-- <li class="nav-item">
        <a class="nav-link text-white bg-dark" routerLink="/iso22400">ISO 22400 Template</a>
      </li>  -->
        <!-- <li class="nav-item">
        <a class="nav-link text-white bg-dark" routerLink="/BScomponents">Bootstrap Components</a>
      </li> -->
      </ul>

      <div class="text-white text-center border" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
          <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
          <span>{{ 'Collapse Sidebar' }}</span>
      </div>

</div>