
<form class="mt-3" [formGroup]="signInForm">
    <div class="mb-3">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control form-control-lg" id="inputEmail" formControlName="inputEmail"
            aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="mb-4">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control form-control-lg" id="inputPassword" formControlName="inputPassword"
            placeholder="Enter password">
    </div>
    <div>
        <a class="btn btn-outline-light float-start" routerLink="/sign-up">Sign Up</a>
        <a class="btn btn-outline-light float-end" (click)="signIn()">Login</a>
    </div>
</form>
