<section ng-show="alertDisplayed" class="message">
    <div class="alert" [ngClass]="message.type" role="alert" >
    <strong class="alert-heading">{{message.title}} </strong>
    <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    <p>{{message.textbody}}</p>
    </div>
</section>

<!--
<div class="message-screen-wrapper">
    <div [formGroup]="messageForm">
        <div formArrayName="successFormArray">
            <div class="alert alert-success alert-dismissible fade show" role="alert"
                *ngFor="let x of successFormArray.controls; let i=index" [formGroupName]="i">
                <strong>{{x.controls['head'].value}}</strong> {{x.controls['body'].value}}
                <button type="button" class="close" (click)="removeMessage('success', i)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div [formGroup]="messageForm">
        <div formArrayName="warningFormArray">
            <div class="alert alert-warning alert-dismissible fade show" role="alert"
                *ngFor="let x of warningFormArray.controls; let i=index" [formGroupName]="i">
                <strong>{{x.controls['head'].value}}</strong> {{x.controls['body'].value}}
                <button type="button" class="close" (click)="removeMessage('warning', i)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div [formGroup]="messageForm">
        <div formArrayName="errorFormArray">
            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngFor="let x of errorFormArray.controls; let i=index"
                [formGroupName]="i">
                <strong>{{x.controls['head'].value}}</strong> {{x.controls['body'].value}}
                <button type="button" class="close" (click)="removeMessage('error', i)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div> -->
