<div class="card mb-sm-4 shadow p-3 mb-5 bg-white rounded">
    <h5 class="card-header">Generic ODP Template</h5>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h5 class="card-title">How to use</h5>
                <p class="card-text">Click on the Add new card button below</p>
            </div>
            <div class="col">
                <h5 class="card-title">Controls</h5>
                <button class="btn btn-outline-success">
                    A
                </button>
                <button class="btn btn-outline-warning">
                    B
                </button>
                <button class="btn btn-outline-danger">
                    C
                </button>
            </div>
        </div>
    </div>  
</div>
