<div class="card mb-sm-4 shadow p-3 mb-5 bg-white rounded">
  <h5 class="card-header"> ISO 22400-2 Template</h5>
  <div class="card-body">
    <h5 class="card-title"> Key Performance Indicators for Manufacturing Operations Management
    </h5>

    <div class="row">

      <div class="col">
        <p class="card-text">The ISO 2400-2 template uses a tabular approach for building a graph. One can add elements
          to an existing key performance indicator or create a new key performance indicator or one of its constituents.
          <button type="button" class="badge rounded-pill bg-light text-dark" data-bs-toggle="modal"
            data-bs-target="#FPD_HELPER">?</button>
        </p>

      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            Template Statistics
          </div>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">No# KPIs</th>
                  <th scope="col">No# Elements</th>
                  <th scope="col">No# Entitys</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{NoOfKPIs}}</td>
                  <td>{{NoOfElements}}</td>
                  <td>{{NoOfEntities}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="px-sm-2 py-3">
      <!-- tabs -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="newIndi-tab" type="button" data-bs-toggle="tab" data-bs-target="#newIndi"
            role="tab" aria-controls="newIndi" aria-selected="true"> Create new
            simple element </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="existingIndi-tab" type="button" data-bs-toggle="tab" data-bs-target="#existingIndi"
            role="tab" aria-controls="existingIndi" aria-selected="false"> Create new KPI </a>
        </li>
      </ul>

      <div class="tab-content py-3" id="myTabContent">
        <!-- parameter tab -->
        <div class="tab-pane fade show active" id="newIndi" role="tabpanel" aria-labelledby="newIndi-tab">
          <!-- content to create new simple element -->
          <div class="row" [formGroup]="simpleElementForm">
            <div class="form-group col-sm">
              <label> Described entity </label>
              <input formControlName="entity" class="form-control" name="entity" type="text"
                placeholder="e.g. myWorkplace">
            </div>
            <div class="form-group col-sm">
              <label> Group of new element </label>
              <select formControlName="elementGroup" name="elementGroup" class="form-control"
                (click)="loadClassesElement(simpleElementForm.controls['elementGroup'].value)">
                <option value=null selected hidden></option>
                <option *ngFor='let x of elementGroups'>
                  {{x}}
                </option>
              </select>
            </div>
            <div class="form-group col-sm">
              <label> The Class of the new element </label>
              <select formControlName="elementClass" name="elementClass" class="form-control"
                (click)="setValueVisibility(simpleElementForm.controls['elementClass'].value)">
                <option value=null selected hidden></option>
                <option *ngFor='let x of allElementClassesPerGroup'>
                  {{x}}
                </option>
              </select>
            </div>
          </div>
          <div class="row" [formGroup]="simpleElementForm">
            <div class="form-group col-sm">
              <label> Class of entity </label>
              <select formControlName="entityClass" name="entityClass" class="form-control">
                <option value=null selected hidden></option>
                <option *ngFor='let x of organizationalElementClasses'>
                  {{x}}
                </option>
              </select>
            </div>
            <div class="form-group col-sm">
              <label> The relevant period of the element </label>
              <input formControlName="elementPeriod" class="form-control" name="elementPeriod" type="text"
                placeholder="[YYYY-MM-DDThh:mm:ss]">
            </div>
            <div class="form-group col-sm">
              <label> The relevant duration </label>
              <input formControlName="duration" class="form-control" name="duration" type="text"
                placeholder="[xsd:duration]" [readonly]="timeValueReadOnly === false"
                [required]="timeValueReadOnly === true">
            </div>
          </div>
          <div class="row" [formGroup]="simpleElementForm">
            <div class="form-group col-sm">
              <label> The value of the element </label>
              <input formControlName="value" class="form-control" name="value" type="text" placeholder="[xsd:string]"
                [readonly]="anyValueReadOnly === false" [required]="anyValueReadOnly === true">
            </div>
            <div class="form-group col-sm">
              <label> The value´s unit of measure </label>
              <input formControlName="unitOfMeasure" class="form-control" name="unitOfMeasure" type="text"
                placeholder="[xsd:string]" [readonly]="anyValueReadOnly === false"
                [required]="anyValueReadOnly === true">
            </div>
            <div class="form-group col-sm-1 align-self-end">
              <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-secondary"
                  (click)="createTripel('add', 'element', simpleElementForm)">Add</button>
                <div class="btn-group" role="group">
                  <button id="addButton" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                  </button>
                  <div class="dropdown-menu" aria-labelledby="addButton">
                    <a class="dropdown-item" (click)="createTripel('delete', 'element', simpleElementForm)">Delete
                      request</a>
                    <a class="dropdown-item" (click)="createTripel('build', 'element', simpleElementForm)">Download
                      SPARQL
                      INSERT</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane " id="existingIndi" role="tabpanel" aria-labelledby="existingIndi-tab">
          <!-- kpi tab -->
          <div class="row" [formGroup]="KPIForm">
            <div class="form-group col-sm">
              <label> Described entity </label>
              <input formControlName="entity" class="form-control" name="entity" type="text"
                placeholder="e.g. myWorkplace">
            </div>
            <div class="form-group col-sm">
              <label> Group of new KPI </label>
              <select formControlName="kpiGroup" name="kpiGroup" class="form-control"
                (click)="loadClassesKPI(KPIForm.controls['kpiGroup'].value)">
                <option value=null selected hidden></option>
                <option *ngFor='let x of KPIGroups'>
                  {{x}}
                </option>
              </select>
            </div>
            <div class="form-group col-sm">
              <label> The Class of the new KPI </label>
              <select formControlName="kpiClass" name="kpiClass" class="form-control"
                (click)="loadTimingConstraint(KPIForm.controls['kpiClass'].value)">
                <option value=null selected hidden></option>
                <option *ngFor='let x of allKPIClassesPerGroup'>
                  {{x}}
                </option>
              </select>
            </div>
          </div>
          <div class="row" [formGroup]="KPIForm">
            <div class="form-group col-sm">
              <label> Class of entity </label>
              <select formControlName="entityClass" name="entityClass" class="form-control">
                <option value=null selected hidden></option>
                <option *ngFor='let x of organizationalElementClasses'>
                  {{x}}
                </option>
              </select>
            </div>
            <div class="form-group col-sm">
              <label> The relevant period of the element </label>
              <input formControlName="kpiPeriod" class="form-control" name="kpiPeriod" type="text"
                placeholder="[YYYY-MM-DDThh:mm:ssZ]">
            </div>
            <div class="form-group col-sm">
              <label> Timing of the KPI </label>
              <select formControlName="timing" name="timing" class="form-control">
                <option value=null selected hidden></option>
                <option *ngFor='let x of possibleTiming'>
                  {{x}}
                </option>
              </select>
            </div>
          </div>
          <div class="row" [formGroup]="KPIForm">
            <div class="form-group col-sm">
              <label> The value of the element </label>
              <input formControlName="value" class="form-control" name="value" type="text" placeholder="[xsd:string]">
            </div>
            <div class="form-group col-sm">
              <label> The value´s unit of measure </label>
              <input formControlName="unitOfMeasure" class="form-control" name="unitOfMeasure" type="text"
                placeholder="[xsd:string]">
            </div>
            <div class="form-group col-sm-1 align-self-end">
              <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-secondary"
                  (click)="createTripel('add', 'KPI', KPIForm)">Add</button>
                <div class="btn-group" role="group">
                  <button id="addButton" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                  </button>
                  <div class="dropdown-menu" aria-labelledby="addButton">
                    <a class="dropdown-item" (click)="createTripel('delete', 'KPI', KPIForm)">Delete
                      request</a>
                    <a class="dropdown-item" (click)="createTripel('build', 'KPI', KPIForm)">Download
                      SPARQL
                      INSERT</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="px-sm-2 py-sm-2">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="vdiEntity-tab" type="button" data-bs-toggle="tab"
                data-bs-target="#vdiEntity" role="tab" aria-controls="vdiEntity" aria-selected="true"> VDI 3682/2206
                entities </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="isoEntity-tab" type="button" data-bs-toggle="tab" data-bs-target="#isoEntity"
                role="tab" aria-controls="isoEntity" aria-selected="false"> ISO entities
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="isoElement-tab" type="button" data-bs-toggle="tab" data-bs-target="#isoElement"
                role="tab" aria-controls="isoElement" aria-selected="false"> ISO elements
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="isoKPI-tab" type="button" data-bs-toggle="tab" data-bs-target="#isoKPI" role="tab"
                aria-controls="isoKPI" aria-selected="false"> ISO KPIs
              </a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="vdiEntity" role="tabpanel" aria-labelledby="vdiEntity-tab">
              <app-table [currentTable]="allVDIInfo" [tableTitle]="tableTitle" [tableExplanation]="tableSubTitle"
                (tableClickedCell)="tableClick($event)"></app-table>
            </div>
            <div class="tab-pane " id="isoEntity" role="tabpanel" aria-labelledby="isoEntity-tab">
              <app-table [currentTable]="allIsoEntityInfo" [tableTitle]="tableTitle" [tableExplanation]="tableSubTitle"
                (tableClickedCell)="tableClick($event)"></app-table>
            </div>
            <div class="tab-pane " id="isoElement" role="tabpanel" aria-labelledby="isoElement-tab">
              <app-table [currentTable]="allIsoElementInfo" [tableTitle]="tableTitle" [tableExplanation]="tableSubTitle"
                (tableClickedCell)="tableClick($event)"></app-table>
            </div>
            <div class="tab-pane " id="isoKPI" role="tabpanel" aria-labelledby="isoKPI-tab">
              <app-table [currentTable]="allIsoKPIInfo" [tableTitle]="tableTitle" [tableExplanation]="tableSubTitle"
                (tableClickedCell)="tableClick($event)"></app-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="FPD_HELPER" tabindex="-1" role="dialog" aria-labelledby="FPD_HELPER" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="FPD_HELPER"> Key Performance Indicators for Manufacturing Operations Management
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <img src="../../../../../../assets/images/iso22400-2_grafical_notion_times_01.png" class="card-img-top">
        <p class="card-text"> The scope of ISO 22400 is to give a clear and unique definition of Key Performance
          Indicators (KPIs) used in Manufacturing
          Operations Management (MOM). ISO 22400-2 presents a selected number of KPIs in current practice. The KPIs are
          presented by means of their formula
          and corresponding elements, their time behavior, unit/dimension and rating. It also indicates the User group
          where the KPIs are used and to what
          production type they fit.
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Got it! </button>
      </div>
    </div>
  </div>
</div>