<div class="card mb-sm-4 shadow p-3 mb-5 bg-white rounded">
  <h5 class="card-header">Database configuration</h5>
  <div class="card-body">
    <h5 class="card-title"> LiOnS configuration </h5>

    <div class="row">

      <div class="col-xl-8">
        <p class="card-text">The LIOnS tool can be configured with respect to the following aspects:
          <li>
            Ontological namespaces: The prefixes that are used for rendering the namespaces in each view can be
            customized. One can also add a user defined namespace for created triples.
          </li>
          <li>
            Named Graphs: LIOnS inserts every tripel in a named graph, in order to retrieve/modify/delete the modelled
            triples. One can add different named graphs in order to dissect the created triples.
          </li>
          <li>
            Graph database: LIOnS requires a graph database (i.e. GraphDB) in order to work es expected. One can
            add/change/delete repositories within LIOnS in order to manage different modelling projects.
          </li>
        </p>

      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            Configuration Statistics
          </div>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">No# Namespaces</th>
                  <th scope="col">No# named Graphs</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{NoOfNamespaces}}</td>
                  <td>{{NoOfNamedGraphs}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- tabs -->
    <div class="px-sm-2 py-sm-2">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="namespace-tab" data-toggle="tab" href="#namespace" role="tab"
            aria-controls="namespace" aria-selected="true"> Namespaces </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="namedGraph-tab" data-toggle="tab" href="#namedGraph" role="tab"
            aria-controls="namedGraph" aria-selected="false"> Named Graphs </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="graphDatabase-tab" data-toggle="tab" href="#graphDatabase" role="tab"
            aria-controls="graphDatabase" aria-selected="false"> Graph Database </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active py-4" id="namespace" role="tabpanel" aria-labelledby="namespace-tab">
          <div class="form-row">
            <div class="form-group col-sm">
              <label> Prefix of the active namespace is: "{{activeNamespace.prefix}}" </label>
            </div>
            <div class="form-group col-sm">
              <label> Active namespace is: "{{activeNamespace.namespace}}" </label>
            </div>
          </div>
          <div class="form-row" [formGroup]="namespaceForm">
            <div class="form-group col-sm">
              <label> Prefix to modify/add/delete: </label>
              <input formControlName="prefix" name="prefix" type="text" placeholder="[Prefix]" class="form-control">
            </div>
            <div class="form-group col-sm">
              <label> Namesapce to modify/add/delete: </label>
              <input formControlName="namespace" name="namespace" type="text" placeholder="[Namesapce]"
                class="form-control">
            </div>
            <div class="form-group col-sm-1 align-self-end">
              <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-secondary" (click)="addNamespace()">Add</button>
                <div class="btn-group" role="group">
                  <button id="addButton" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                  </button>
                  <div class="dropdown-menu" aria-labelledby="addButton">
                    <a class="dropdown-item" (click)="editNamespace()">Edit</a>
                    <a class="dropdown-item" (click)="deleteNamespace()">Delete</a>
                    <a class="dropdown-item" (click)="setActiveNamespace()">Set as active</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <app-table [currentTable]="PREFIXES" [tableTitle]="'Namespaces and their prefixes'"
            [tableExplanation]="'Used namespaces and their prefixes are shown below. Click on the table to delete or edit existing namespaces.'"
            (tableClickedRow)="prefixTableClick($event)"></app-table>
        </div>
        <div class="tab-pane py-4" id="namedGraph" role="tabpanel" aria-labelledby="namedGraph-tab">
          <div class="form-row">
            <div class="form-group col-sm">
              <label> Active Graph IRI is: </label>
              <p>{{currentGraph}}</p>
            </div>
            <div class="form-group col-sm">
              <label> Existing Graph IRIs </label>
              <select [formControl]="graph" name="newGraph" class="form-control">
                <option value=null selected hidden></option>
                <option *ngFor='let x of graphList'>
                  {{x}}
                </option>
              </select>
            </div>
            <div class="form-group col-sm-3 align-self-end">
              <div class="btn-group dropup" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-secondary" (click)="setActiveGraph(graph.value)">Change to
                  selection</button>
                <button id="addButton" type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="addButton">
                  <a class="dropdown-item" data-toggle="modal" data-target="#CREATE_GRAPH_IRI_MODAL">Create graph</a>
                  <a class="dropdown-item" data-toggle="modal" data-target="#DOWNLOAD_GRAPH">Download triples from
                    graph</a>
                  <a class="dropdown-item" data-toggle="modal" data-target="#DELETE_TRIPLES_OF_GRAPH">Delete triples
                    from graph as active</a>
                  <a class="dropdown-item" data-toggle="modal" data-target="#DELETE_GRAPH">Delete named graph</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane py-4" id="graphDatabase" role="tabpanel" aria-labelledby="graphDatabase-tab">
          <div class="form-row">
            <div class="form-group col-sm">
              <label> The active graph database host is: "{{activeHostname}}" </label>
            </div>
            <div class="form-group col-sm">
              <label> The active repository is: "{{activeRepository}}" </label>
            </div>
          </div>
          <div class="form-row" [formGroup]="repositoryForm">
            <div class="form-group col-sm">
              <label> Hostname </label>
              <input class="form-control" formControlName="hostName" name="url" type="text" placeholder="hostName">
            </div>
            <div class="form-group col-sm">
              <label> Repository name </label>
              <select formControlName="repositoryName" name="repositoryName" class="form-control">
                <option value=null selected hidden></option>
                <option *ngFor='let x of repositoryList'>
                  {{x}}
                </option>
              </select>
            </div>
            <div class="form-group col-sm-3 align-self-end">
              <div class="btn-group dropup" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-secondary"
                  (click)="setGraphDBConfig(repositoryForm.controls['hostName'].value,repositoryForm.controls['repositoryName'].value)">Change
                  Configuration</button>
                <button id="addButton" type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="addButton">
                  <a class="dropdown-item" data-toggle="modal" data-target="#RELOAD_MODAL">Reload data from
                    repository</a>
                  <a class="dropdown-item" data-toggle="modal" data-target="#TBOX_MODAL">Load TBoxes</a>
                  <a class="dropdown-item" data-toggle="modal" data-target="#CreateModal">Create new
                    repository</a>
                  <a class="dropdown-item" data-toggle="modal" data-target="#clearModal">Clear repository</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Modals -->
<!-- CLEAR REPOSITORY MODAL -->
<div class="modal fade" id="clearModal" tabindex="-1" role="dialog" aria-labelledby="clearModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="clearModalLabel">Clear the Repository</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You are about to clear the active repository, all (!) triples (including the T-Box triples) will be deleted.
        There is
        no possiblity to restore them.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Do not clear the repository </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="clearRepository()"> I know what I
          am doing </button>
      </div>
    </div>
  </div>
</div>
<!-- CREATE REPOSITORY MODAL -->
<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="CreateModalModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CreateModalModalLabel"> Create a new Repository </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-row">
          <div class="form-group col-sm">
            <label> By pushing the button below, a new repository with the following name will be created: </label>
            <input [formControl]="newRepository" name="newRepositoryname" type="text"
              placeholder="[name of the new repository]" class="form-control">
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancel </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createNewRepo(newRepository.value)">
          Create new Repository </button>
      </div>
    </div>
  </div>
</div>
<!-- SET REPOSITORY MODAL -->
<!-- <div class="modal fade" id="SetRepoModal" tabindex="-1" role="dialog" aria-labelledby="SetRepoModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SetRepoModalLabel"> Set active Repository</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="form-group col-sm">
            <label> Hostname </label>
            <input [(ngModel)]="hostName" name="hostName" type="text" placeholder="[hostName]" class="form-control">
          </div>
          <div class="form-group col-sm">
            <label> Repositories </label>
            <select [(ngModel)]="repositoryName" name="repositoryName" class="form-control">
              <option value=null selected hidden></option>
              <option *ngFor='let x of repositoryList'>
                {{x}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancel </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          (click)="setGraphDBConfig(hostName,repositoryName)">
          Set Repository </button>
      </div>
    </div>
  </div>
</div> -->
<!-- LOAD TBOX MODAL -->
<div class="modal fade" id="TBOX_MODAL" tabindex="-1" role="dialog" aria-labelledby="TBOX_MODALLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TBOX_MODALLabel"> Load TBoxes </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Loading the TBoxes is only necessary for a newly created repository. By pushing the button below, the latest
        releases of the TBoxes are requested from GitHub and inserted in the GraphDB. After having inserted the TBox
        triples, the required data of the tool will be retrieved again.
        The following TBoxes will be inserted:
        <ul>
          <li>
            VDI 3682
          </li>
          <li>
            VDI 2206
          </li>
          <li>
            ISA 88
          </li>
          <li>
            WADL
          </li>
          <li>
            DIN EN 61360
          </li>
          <li>
            ISO 22400-2
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancel </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="loadTBoxes()">
          Load TBox </button>
      </div>
    </div>
  </div>
</div>
<!-- Reload Data Modal -->
<div class="modal fade" id="RELOAD_MODAL" tabindex="-1" role="dialog" aria-labelledby="RELOAD_MODALLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RELOAD_MODALLabel"> Reload Data </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        In order to display the data that is necessary for carrying out RDF modelling tasks, the tool retrieves some
        data from the GraphDB. This is usually done automatically. In case of some failure, you can reload the data by
        pushing the button below.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancel </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="refreshServices()">
          Reload Data </button>
      </div>
    </div>
  </div>
</div>

<!-- CREATE GRAPH Modal -->
<div class="modal fade" id="CREATE_GRAPH_IRI_MODAL" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Create a new graph </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="form-group col-sm">
            <label> By pushing the button below, a new named graph with the user defined name will be created. Please
              note, that the graph will remain in this tool and empty unless you add triples to the graph. </label>
            <div class="input-group-prepend">
              <span class="input-group-text input-group-prepend" id="inputGroupPrepend">http://</span>
              <input [formControl]="newGraph" name="newGraph" type="text" placeholder="[name of the new named graph]"
                class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancel </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createNamedGraph(newGraph.value)">
          Create Graph </button>
      </div>
    </div>
  </div>
</div>

<!-- DOWNLOAD_GRAPH Modal -->
<div class="modal fade" id="DOWNLOAD_GRAPH" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Download Triples of named Graph </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="form-group col">
            <label> Graph to download </label>
            <select [formControl]="graph" name="newGraph" class="form-control">
              <option value=null selected hidden></option>
              <option *ngFor='let x of graphList'>
                {{x}}
              </option>
            </select>
          </div>
          <div class="form-group col">
            <label> data format </label>
            <select [formControl]="dataFormat" name="dataFormat" class="form-control">
              <option value=null selected hidden></option>
              <option *ngFor='let x of keys(dataFormats)'>
                {{dataFormats[x].formatName}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancel </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          (click)="downloadGraph(graph.value,dataFormat.value)">
          Download </button>
      </div>
    </div>
  </div>
</div>

<!-- DELETE_TRIPLES_OF_GRAPH Modal -->
<div class="modal fade" id="DELETE_TRIPLES_OF_GRAPH" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Delete Triples of named Graph </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group col-sm">
          <label> You are about to delete all triples of a named graph. The graph itself will be stored within the
            tool,
            but empty graphs will be deleted by the GraphDB.
            Select a graph whose triples should be deleted below: </label>
          <select [formControl]="graph" name="newGraph" class="form-control">
            <option value=null selected hidden></option>
            <option *ngFor='let x of graphList'>
              {{x}}
            </option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancel </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          (click)="deleteTriplesOfNamedGraph(graph.value)">
          Delete Triples </button>
      </div>
    </div>
  </div>
</div>

<!-- DELETE_GRAPH Modal -->
<div class="modal fade" id="DELETE_GRAPH" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Delete named Graph </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group col-sm">
          <label> You are about to delete a named graph, including all the triples that are stored within that graph.
            Select a graph to be deleted below </label>
          <select [formControl]="graph" name="newGraph" class="form-control">
            <option value=null selected hidden></option>
            <option *ngFor='let x of graphList'>
              {{x}}
            </option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancel </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteNamedGraph(graph.value)">
          Delete selected graph </button>
      </div>
    </div>
  </div>
</div>