<div class="card mb-sm-4 shadow p-3 mb-5 bg-white rounded">
    <h4 class="card-header">Tool Configuration</h4>
    <div class="card-body">
        <h5 class="card-title"> Named Graph Configuration </h5>

        <div class="row">
            <div class="col-xl-8">
                <p class="card-text">The named graphs declared below are used to build distinguished sets of triples in the
                    ABox. This allows for seperate export (see below), and seperate manipulation (e.g. delete all). The default
                    graph for LiOnS entities is "http://lionFacts#".
                </p>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Important notice</h5>
                        <p class="card-text">
                            Please be aware, that deleted named graphs or triples cannot be restored.
                        </p>
                        <p class="card-text"><small class="text-muted">
                            Current number of named graphs: {{graphsCount}}
                        </small></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- tabs -->
        <div class="px-sm-2 py-sm-2">

            <!-- tab headers -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="ManageGraphs-tab" data-bs-toggle="tab" data-bs-target="#ManageGraphs" role="tab" type="button"
                        aria-controls="ManageGraphs" aria-selected="true">Manage Graphs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="UpDown-tab" data-bs-toggle="tab" data-bs-target="#UpDown" role="tab" aria-controls="UpDown"
                        type="button" aria-selected="false"> Up- and Downloads </a>
                </li>
            </ul>

            <!-- tab content -->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active py-4" id="ManageGraphs" role="tabpanel" aria-labelledby="ManageGraphs-tab">
                    <app-graph-management [graphList]="graphList" (onLoadGraphList)="loadGraphList()"></app-graph-management>
                </div>
                <div class="tab-pane py-4" id="UpDown" role="tabpanel" aria-labelledby="UpDown-tab">
                    <app-up-and-downloads [graphList]="graphList"></app-up-and-downloads>
                </div>
            </div>

        </div>
    </div>
