<ng-container [formGroup]="connectTripleForm">
    <div class="row">
        <div class="form-group col-sm-6">
            <label>Subject to connect</label>
            <input formControlName="subject" class="form-select" type="text" placeholder="Select an Entity from Table"
                readonly>
        </div>
        <div class="form-group col-sm-6">
            <label>Property to use for connection</label>
            <select formControlName="predicate" name="predicate" class="form-select">
                <option *ngFor='let x of existingPredicates'>
                    {{x}}
                </option>
            </select>
        </div>
    </div>
    <div class="row mt-2">
        <div class="form-group col-sm-6">
            <label>Connect with individual of class</label>
            <select formControlName="objectClass" name="objectClass" class="form-select">
                <option *ngFor='let x of existingObjectClasses'>
                    {{x}}
                </option>
            </select>
        </div>
        <div class="form-group col-sm-6">
            <label>Select object of the connection</label>
            <select formControlName="object" name="object" class="form-select">
                <option *ngFor='let x of existingObjects'>
                    {{x}}
                </option>
            </select>
        </div>
    </div>
</ng-container>

<div class="row mt-2 justify-content-end">
    <div class="col-auto">
        <button class="btn btn-secondary me-3" (click)="buildInsert()" [disabled]="this.connectTripleForm.invalid">Download SPARQL INSERT</button>
        <button class="btn btn-secondary" (click)="executeInsert()" [disabled]="this.connectTripleForm.invalid">Add</button>
    </div>
</div>

