<!-- Table card -->
<div class="px-sm-3 py-sm-3 shadow p-3 mb-5 bg-white rounded">
  <div *ngIf="currentTable.length!=0" class="card border-0">
    <div class="card-body ">
      <!-- titles -->
      <h5 class="card-title">{{tableTitle}}</h5>
      <p class="card-text">{{tableExplanation}}</p>
      <div class="row align-items-center px-sm-2">
        <!-- table -->
        <table class="table table-hover table-sm" style="cursor: pointer">
          <thead>
            <tr>
              <!-- take first result binding and iterate over keys, these keys are table columns -->
              <th *ngFor="let col of keys(pagedTable[0][0])" scope="col">{{col}} </th>
            </tr>
          </thead>
          <tbody>
            <!-- one row for each binding -->
            <tr *ngFor="let tableRow of pagedTable[currentPage]">
              <!-- one entry for each key in each binding -->
              <td *ngFor="let x of keys(tableRow)" (click)="tableClickRow(tableRow)"
                (click)="tableClickCell(tableRow[x])">
                {{tableRow[x]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- paggination -->
      <div class="row justify-content-end">
        <div class="dropdown px-sm-2">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Items per page: {{paginationNumber}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" *ngFor='let x of paginationArray' (click)="setPaginationNumber(x)">{{x}}</a>
          </div>
        </div>
        <div class="btn-group px-sm-2" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-secondary" (click)="firstPage()"><i
              class="fas fa-angle-double-left"></i></button>
          <button type="button" class="btn btn-outline-secondary" (click)="previousPage()"><i
              class="fas fa-chevron-left"></i></button>
          <button type="button" class="btn btn-outline-secondary" (click)="nextPage()"><i
              class="fas fa-chevron-right"></i></button>
          <button type="button" class="btn btn-outline-secondary" (click)="lastPage()"><i
              class="fas fa-angle-double-right"></i></button>
        </div>
        <div class="dropleft px-sm-2">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{currentPerPage}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" *ngFor='let x of pageArray' (click)="setCurrentPage(x-1)">{{x}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>