<div [formGroup]="requestForm">
    <div class="row">
        <div class="col-sm">
            <label class="form-label">The base resource path</label>
            <select formControlName=resourceBasePath name="resourceBasePath" class="form-select"
                (click)="getExistingResourcesOfBase()">
                <option value=null selected hidden></option>
                <option *ngFor='let x of baseResources'>
                    {{x.baseResourcePath}}
                </option>
            </select>
        </div>
        <div class="col-sm">
            <label class="form-label">The resource path</label>
            <select formControlName=resource name="resource" class="form-select">
                <option value=null selected hidden></option>
                <option *ngFor='let resource of resources' [ngValue]="resource">
                    {{resource.resourcePath}}
                </option>
            </select>
        </div>
        <div class="col-sm">
            <label class="form-label">Method</label>
            <!-- TODO: Currently, the two methods are done on every click. This can be done better (e.g. by subscribing to form changes) -->
            <select formControlName="methodType" name="method" class="form-select">
                <option value=null selected hidden></option>
                <option *ngFor='let x of methods'>
                    {{x}}
                </option>
            </select>
        </div>
    </div>

    <div class="row mt-3 justify-content-end">
        <div class="col-sm-3">
            <div class="btn-group float-end" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-secondary" [disabled]="!this.requestCanBeCreated"
                (click)="addRequest()">Add Request</button>
                <div class="btn-group" role="group">
                    <button id="addButton" type="button" class="btn btn-secondary dropdown-toggle"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="addButton">
                        <a class="dropdown-item"
                        (click)="deleteRequest()">Delete Request</a>
                        <a class="dropdown-item"
                        (click)="getSparqlInsert()">Download SPARQL INSERT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<wadl-parameter *ngIf="this.existingRequest" [parentIri]="this.existingRequest.requestIri"></wadl-parameter>

<wadl-representation *ngIf="this.existingRequest" [parentIri]="this.existingRequest.requestIri"></wadl-representation>

<!-- TODO: Is this still needed? Params are shown above -->
<div class="row mt-3">
    <div class="col-sm">
        <app-table
            [currentTable]="requestParameterTable"
            [tableTitle]="'Existing parameters'"
            [tableExplanation]="'This table shows all existing parameters of the request that belongs to this method'" >
        </app-table>
    </div>
</div>
