li {
    display: flex;
    align-items: flex-start;
}

.node-input {
    margin-top: 25px;
}

#mappingContainer {
    height:500px;
    border:1px solid #ced4da;
    border-radius: 0.25rem;
    overflow: scroll;
}

.node-container {
    display: flex;
}

.childKeys {
    position: relative;
    left: 4.15em;
}

.childToggler {
    margin-top: 15px;
    font-size: 1.5em;
    margin-right: 25px;
}
