<div class="modal fade" id="FPD_HELPER" tabindex="-1" role="dialog" aria-labelledby="FPD_HELPER" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="FPD_HELPER"> Key Performance Indicators for Manufacturing Operations Management
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <img src="../../../../../../assets/images/iso22400-2_grafical_notion_times_01.png" class="card-img-top">
          <p class="card-text"> The scope of ISO 22400 is to give a clear and unique definition of Key Performance
            Indicators (KPIs) used in Manufacturing
            Operations Management (MOM). ISO 22400-2 presents a selected number of KPIs in current practice. The KPIs are
            presented by means of their formula
            and corresponding elements, their time behavior, unit/dimension and rating. It also indicates the User group
            where the KPIs are used and to what
            production type they fit.
          </p>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            Got it! </button>
        </div>
      </div>
    </div>
</div>