
<p>This is modelling-container.component</p>

<!-- <div class="container">

  <div class="row py-4 align-items-center">
    <div class="col">
      <div class="card text-center">
        <h5 class="card-header"> Active Repository</h5>
        <div class="card-body">
          <p class="card-text">The active repository is shown below. In this repository, all RDF descriptions that are
            created with this tool are stored. Click on a button below to edit the active repository or create a new
            one.</p>

          <div class="form-row">
            <div class="form-group col-sm">
              <label> Hostname </label>
              <input [(ngModel)]="host" name="host" type="text" placeholder="[host]" class="form-control" readonly>
            </div>
            <div class="form-group col-sm">
              <label> Repository </label>
              <input [(ngModel)]="repository" name="repository" type="text" placeholder="[repository]"
                class="form-control" readonly>
            </div>
          </div>
          <button class="btn btn-secondary" data-toggle="modal" data-target="#SetRepoModal"> Change Configuration
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- MODALS -->
<!-- SET REPOSITORY MODAL -->
<!-- <div class="modal fade" id="SetRepoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Set active Repository</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="form-group col-sm">
            <label> Hostname </label>
            <input [(ngModel)]="host" name="host" type="text" placeholder="[host]" class="form-control">
          </div>
          <div class="form-group col-sm">
            <label> Repositories </label>
            <select [(ngModel)]="repository" name="repository" class="form-control">
              <option *ngFor='let x of repositoryList'>
                {{x}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancel </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="setGraphDBConfig(host,repository)">
          Set Repository </button>
      </div>
    </div>
  </div>
</div> -->