<div class="row" [formGroup]="KPIForm">
    <div class="form-group col-sm">
      <label> Described entity </label>
      <input formControlName="entity" class="form-control" name="entity" type="text"
        placeholder="e.g. myWorkplace">
    </div>
    <div class="form-group col-sm">
      <label> Group of new KPI </label>
      <select formControlName="kpiGroup" name="kpiGroup" class="form-control"
        (click)="loadClassesKPI(KPIForm.controls['kpiGroup'].value)">
        <option value=null selected hidden></option>
        <option *ngFor='let x of KPIGroups'>
          {{x}}
        </option>
      </select>
    </div>
    <div class="form-group col-sm">
      <label> The Class of the new KPI </label>
      <select formControlName="kpiClass" name="kpiClass" class="form-control"
        (click)="loadTimingConstraint(KPIForm.controls['kpiClass'].value)">
        <option value=null selected hidden></option>
        <option *ngFor='let x of allKPIClassesPerGroup'>
          {{x}}
        </option>
      </select>
    </div>
  </div>
  <div class="row" [formGroup]="KPIForm">
    <div class="form-group col-sm">
      <label> Class of entity </label>
      <select formControlName="entityClass" name="entityClass" class="form-control">
        <option value=null selected hidden></option>
        <option *ngFor='let x of organizationalElementClasses'>
          {{x}}
        </option>
      </select>
    </div>
    <div class="form-group col-sm">
      <label> The relevant period of the element </label>
      <input formControlName="kpiPeriod" class="form-control" name="kpiPeriod" type="text"
        placeholder="[YYYY-MM-DDThh:mm:ssZ]">
    </div>
    <div class="form-group col-sm">
      <label> Timing of the KPI </label>
      <select formControlName="timing" name="timing" class="form-control">
        <option value=null selected hidden></option>
        <option *ngFor='let x of possibleTiming'>
          {{x}}
        </option>
      </select>
    </div>
  </div>
  <div class="row" [formGroup]="KPIForm">
    <div class="form-group col-sm">
      <label> The value of the element </label>
      <input formControlName="value" class="form-control" name="value" type="text" placeholder="[xsd:string]">
    </div>
    <div class="form-group col-sm">
      <label> The value's unit of measure </label>
      <input formControlName="unitOfMeasure" class="form-control" name="unitOfMeasure" type="text"
        placeholder="[xsd:string]">
    </div>
    <div class="form-group col-sm-1 align-self-end">
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-secondary"
          (click)="createTriple('add')">Add</button>
        <div class="btn-group" role="group">
          <button id="addButton" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
          </button>
          <div class="dropdown-menu" aria-labelledby="addButton">
            <a class="dropdown-item" (click)="createTriple('delete')">Delete
              request</a>
            <a class="dropdown-item" (click)="createTriple('build')">Download
              SPARQL
              INSERT</a>
          </div>
        </div>
      </div>
    </div>
</div>
