<!-- content to create new individuals -->
<div class="row align-items-end" [formGroup]="newTripleForm">
    <div class="form-group col-sm-4">
        <label> New subject</label>
        <input formControlName="subject" class="form-control" name="object" type="text" placeholder="http://namespace.de/some#Individual">
    </div>
    <div class="form-group col-sm-2">
        <label>Predicate</label>
        <input formControlName="predicate" class="form-control" type="text">
    </div>
    <div class="form-group col-sm-4">
        <label>New object</label>
        <select formControlName="object" class="form-select" id="inputGroupSelect01">
            <option *ngFor='let x of allClasses'>
                {{x}}
            </option>
        </select>
    </div>
    <div class="form-group col-auto">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-secondary" (click)="executeInsert()">Add</button>
            <button type="button dropend" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="" (click)="deleteStatement()">Delete Statement</a></li>
                <li><a class="dropdown-item" [routerLink]="" (click)="buildInsert()">Download SPARQL INSERT</a></li>
            </ul>
        </div>
    </div>
</div>

