<div class="card mb-sm-4 shadow p-3 mb-5 bg-white rounded">
  <h5 class="card-header">VDI3682 Template</h5>
  <div class="card-body">
    <h5 class="card-title"> Formalized Process Descriptions </h5>

    <div class="row">

      <div class="col">
        <p class="card-text">The VDI3682 template uses a tabular approach for building a graph. One can add elements to
          an
          existing Process or create a new Process. <button type="button" class="badge badge-pill badge-light"
            data-toggle="modal" data-target="#FPD_HELPER">?</button></p>

      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            Template Statistics
          </div>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">No# Processes</th>
                  <th scope="col">No# Products, Information, Energies</th>
                  <th scope="col">No# TechnicalResource</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{NoOfProcesses}}</td>
                  <td>{{NoOfInOuts}}</td>
                  <td>{{NoOfTechnicalResources}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="px-sm-2 py-3">
      <!-- tabs -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="newIndi-tab" data-toggle="tab" href="#newIndi" role="tab"
            aria-controls="newIndi" aria-selected="true"> Create new
            individuals </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="existingIndi-tab" data-toggle="tab" href="#existingIndi" role="tab"
            aria-controls="existingIndi" aria-selected="false"> Connect
            existing individuals </a>
        </li>
      </ul>

      <div class="tab-content py-3" id="myTabContent">
        <div class="tab-pane fade show active" id="newIndi" role="tabpanel" aria-labelledby="newIndi-tab">
          <!-- content to create new individuals -->
          <div class="form-row">
            <div class="form-group col-sm">
              <label> The Subject of the created statement </label>
              <input [(ngModel)]="newSubject" class="form-control" name="object" type="text" placeholder="[Subject]">
            </div>
            <div class="form-group col-sm">
              <label> The Predicate of the created statement </label>
              <input class="form-control" type="text" placeholder="rdf:type" readonly>
            </div>
            <div class="form-group col-sm">
              <label> The Object of the created statement </label>
              <select [(ngModel)]="selectedClass" name="selectedClass" class="form-control">
                <option *ngFor='let x of allClasses'>
                  {{x}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm">
              <button class="btn btn-secondary col m-3" (click)="buildInsert()">build INSERT</button>

            </div>
            <div class="form-group col-sm">
              <button class="btn btn-secondary col m-3" (click)="executeInsertEntities()">execute INSERT</button>
            </div>
          </div>

          <app-table [currentTable]="allProcessInfo" [tableTitle]="tableTitle" [tableExplanation]="tableSubTitle"
            (tableClickedCell)="iriTableClick($event)"></app-table>
        </div>
        <div class="tab-pane " id="existingIndi" role="tabpanel" aria-labelledby="existingIndi-tab">
          <!-- content to connect existing individuals -->
          <div class="form-row">
            <div class="form-group col-sm">
              <label> The Subject of the created statement </label>
              <input [(ngModel)]="selectedSubject" class="form-control" type="text"
                placeholder="Select a Function from Table" readonly>
            </div>
            <div class="form-group col-sm">
              <label> The Predicate of the created statement </label>
              <select [(ngModel)]="selectedPredicate" name="selectedPredicate" class="form-control"
                (click)="getObjectClasses(selectedPredicate)">
                <option *ngFor='let x of existingPredicates'>
                  {{x}}
                </option>
              </select>
            </div>
            <div class="form-group col-sm">
              <label> The Class of the Object of the created statement </label>
              <select [(ngModel)]="selectedObjectClass" name="selectedObjectClass" class="form-control"
                (click)="getExistingObjects(selectedObjectClass)">
                <option *ngFor='let x of existingObjectClasses'>
                  {{x}}
                </option>
              </select>
            </div>
            <div class="form-group col-sm">
              <label> The Object of the created statement </label>
              <select [(ngModel)]="selectedObject" name="selectedObject" class="form-control">
                <option *ngFor='let x of existingObjects'>
                  {{x}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm">
              <button class="btn btn-secondary col m-3" (click)="buildInsert()">build INSERT</button>
            </div>
            <div class="form-group col-sm">
              <button class="btn btn-secondary col m-3" (click)="executeInsertRelations()">execute INSERT</button>
            </div>
          </div>
          <app-table [currentTable]="allProcessInfo" [tableTitle]="tableTitle" [tableExplanation]="tableSubTitle"
            (tableClickedCell)="iriTableClick($event)"></app-table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="FPD_HELPER" tabindex="-1" role="dialog" aria-labelledby="FPD_HELPER" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="FPD_HELPER"> The Formalized Process Description </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="../../../../../../assets/images/vdi3682_grafical_notion.png" class="card-img-top">
        <p class="card-text">The Formalized Process Description according to VDI 3682 has the modelling elements shown
          above. A process (P) denotes some kind of manufacturing process that has in- and outputs. These in- and
          outputs can be products (P), which denote a product to be
          produced or to use as an input, enegeries (E), that are necessary for a process or a result of it and lastly
          information (I), which is again used as an input for the process or produced during the execution of the
          process. </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Got it! </button>
      </div>
    </div>
  </div>
</div>