<div class="card mb-sm-4 shadow p-3 mb-5 bg-white rounded">
  <h5 class="card-header">VDI3682 Template</h5>
  <div class="card-body">
    <h5 class="card-title">Options & Statistics</h5>
    <p class="card-text">The VDI3682 template uses a tabular approach for building a graph. One can add elements to an
      existing Process or create a new Process.</p>
    <div class="row">

      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            Template Options
          </div>
          <div class="card-body">
            <div class="form-check">
              <input [(ngModel)]="ProcessOptions" type="radio" id="functionalRadio2" name="ProcessOptions"
                class="custom-control-input" value="newEntities">
              <label class="custom-control-label" for="functionalRadio2">Create new Entities </label>
            </div>
            <div class="form-check">
              <input [(ngModel)]="ProcessOptions" type="radio" id="functionalRadio1" name="ProcessOptions"
                class="custom-control-input" value="existingEntities">
              <label class="custom-control-label" for="functionalRadio1">Connect existing Entities</label>
            </div>
          </div>
        </div>

      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            Template Statistics
          </div>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">No# Processes</th>
                  <th scope="col">No# Products, Information, Energies</th>
                  <th scope="col">No# TechnicalResource</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{NoOfProcesses}}</td>
                  <td>{{NoOfInOuts}}</td>
                  <td>{{NoOfTechnicalResources}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="card mb-sm-4 shadow p-3 mb-5 bg-white rounded" *ngIf="ProcessOptions!==undefined">
  <div class="card-body">
    <h5 class="card-title"> Process Insert Template</h5>
    <div *ngIf="ProcessOptions === 'newEntities'">
      <div class="row">
        <div class="col">The Subject of the created statement</div>
        <div class="col">The Predicate of the created statement</div>
        <div class="col">The Object of the created statement</div>
      </div>
      <div class="row">
        <div class="col">
          <input [(ngModel)]="newSubject" class="form-control" name="object" type="text" placeholder="[Subject]">
        </div>
        <div class="col">
          <input class="form-control" type="text" placeholder="rdf:type" readonly>
        </div>
        <div class="col">
          <select [(ngModel)]="selectedClass" name="selectedClass" class="form-control">
            <option *ngFor='let x of allClasses'>
              {{x}}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-secondary col m-3" (click)="buildInsert()">build INSERT</button>
        <button class="btn btn-secondary col m-3" (click)="executeInsertEntities()">execute INSERT</button>
      </div>
    </div>
    <div *ngIf="ProcessOptions === 'existingEntities'">
      <div class="row">
        <div class="col">The Subject of the created statement</div>
        <div class="col">The Predicate of the created statement</div>
        <div class="col">The Class of the Object of the created statement</div>
        <div class="col">The Object of the created statement</div>
      </div>
      <div class="row">
        <div class="col">
          <input [(ngModel)]="selectedSubject" class="form-control" type="text"
            placeholder="Select a Function from Table" readonly>
        </div>
        <div class="col">
          <div *ngIf="existingPredicates; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <select [(ngModel)]="selectedPredicate" name="selectedPredicate" class="form-control"
              (click)="getObjectClasses()">
              <option *ngFor='let x of existingPredicates'>
                {{x}}
              </option>
            </select>
          </ng-template>
          <ng-template #elseBlock>
            <input class="form-control" type="text" placeholder="Select a Function from Table" readonly>
          </ng-template>
        </div>
        <div class="col">
          <div *ngIf="existingObjectClasses; then thenBlock2 else elseBlock2"></div>
          <ng-template #thenBlock2>
            <select [(ngModel)]="selectedObjectClass" name="selectedObjectClass" class="form-control"
              (click)="getExistingObjects()">
              <option *ngFor='let x of existingObjectClasses'>
                {{x}}
              </option>
            </select>
          </ng-template>
          <ng-template #elseBlock2>
            <input class="form-control" type="text" placeholder="Select a Predicate" readonly>
          </ng-template>
        </div>
        <div class="col">
          <div *ngIf="existingObjects; then thenBlock3 else elseBlock3"></div>
          <ng-template #thenBlock3>
            <select [(ngModel)]="selectedObject" name="selectedObject" class="form-control">
              <option *ngFor='let x of existingObjects'>
                {{x}}
              </option>
            </select>
          </ng-template>
          <ng-template #elseBlock3>
            <input class="form-control" type="text" placeholder="Select a Class of Objects" readonly>
          </ng-template>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-secondary col m-3" (click)="buildInsert()">build INSERT</button>
        <button class="btn btn-secondary col m-3" (click)="executeInsertRelations()">execute INSERT</button>
      </div>
    </div>
  </div>
</div>
<app-table [currentTable]="allProcessInfo" [tableTitle]="tableTitle" [tableExplanation]="tableSubTitle"
  (tableClickedCell)="iriTableClick($event)"></app-table>