<div class="card mb-sm-4 shadow p-3 mb-5 bg-white rounded">
    <h4 class="card-header">Tool Configuration</h4>
    <div class="card-body">
        <h5 class="card-title"> Graph Database Configuration </h5>

        <div class="row">
            <div class="col-xl-8">
                <p class="card-text">In order to build the ABox of your project, the LiOnS tool uses a GraphDB. Using
                    LiOnS you can manage your repositories as well as the relevant TBoxes within those repositories.
                    This enables you to effecitevely manage you projects. </p>
                <p>Set Repositories: In case you already have created a repository, you can set it here is the current
                    repository.</p>
                <p>Define relevant TBoxes: You can set the relevant TBoxes for your modelling project. This will impact
                    the
                    size and modelling abilities of your ABox.</p>
                <p>Managing repositories: You can create or delete repositories in order to manage you modelling
                    projects.</p>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Important notice</h5>
                        <p class="card-text">Please be aware, that clearing or removed any repoistory will lead to a
                            loss of data.
                        </p>
                        <p class="card-text"><small class="text-muted">Current number of repositories:
                                {{repoCount}}</small></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="RepoManagement-tab" data-bs-toggle="tab" type="button"
                    data-bs-target="#RepoManagement" role="tab" aria-controls="RepoManagement" aria-selected="true">
                    Manage
                    Repositories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="TBoxes-tab" data-bs-toggle="tab" type="button" data-bs-target="#TBoxes"
                    role="tab" aria-controls="TBoxes" aria-selected="false"> Load ODP T-Boxes </a>
            </li>
        </ul>

        <!-- tab content -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active py-4" id="RepoManagement" role="tabpanel"
                aria-labelledby="RepoManagement-tab">
                <h5>Select Repository</h5>
                <p class="text-sm-left"> You can set a new repository here. This will trigger an execution of all
                    queries relevant to LiOnS and may take a while, depending on the size of you ABox.</p>
                <div class="row">
                    <div class="form-group col-sm">
                        <label> The current repository is: </label>
                        <input class="form-control" type="text" [placeholder]="activeRepository" readonly>
                    </div>
                    <div class="form-group col-sm">
                        <label> Existing repositories </label>
                        <div class="input-group mb-3">
                            <select [formControl]="repositoryOption" name="activeRepository" class="form-control">
                                <option value=null selected hidden></option>
                                <option *ngFor='let x of repositoryList'>
                                    {{x}}
                                </option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="button-addon2"
                                    (click)="setRepository(repositoryOption.value)">Change Repository</button>
                            </div>
                        </div>
                    </div>
                </div>

                <h5 class="mt-3">Manage Repositories</h5>
                <p class="text-sm-left"> You can create, clear and delete repositories here. Please be aware that
                    deleted repositories or data cannot be restored.</p>

                <div class="row mb-3">
                    <label for="createRepo" class="col-sm-3 col-form-label">Create new repository:</label>
                    <div class="col-sm-6">
                        <input [formControl]="repositoryCreate" id="createRepo" type="text" class="form-control"
                            aria-label="Text input with dropdown button" placeholder="Enter repository name">
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-secondary" type="button" id="button-addon2"
                            (click)="createRepository(repositoryCreate.value)">Create</button>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="clearRepo" class="col-sm-3 col-form-label">Clear repository:</label>
                    <div class="col-sm-6">
                        <input [formControl]="repositoryClear" id="clearRepo" type="text" class="form-control"
                            aria-label="Text input with dropdown button" placeholder="Enter repository name">
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-warning" type="button" id="button-addon2"
                            (click)="clearRepository(repositoryClear.value)">Clear</button>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="deleteRepo" class="col-sm-3 col-form-label">Delete repository:</label>
                    <div class="col-sm-6">
                        <input [formControl]="repositoryDelete" id="deleteRepo" type="text" class="form-control"
                            aria-label="Text input with dropdown button" placeholder="Enter repository name">
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-danger" type="button" id="button-addon2"
                            (click)="deleteRepository(repositoryDelete.value)">Delete</button>
                    </div>
                </div>
            </div>

            <div class="tab-pane py-4" id="TBoxes" role="tabpanel" aria-labelledby="TBoxes-tab">
                <ul class="list-group">
                    <li *ngFor="let odp of this.odpInfos" class="list-group-item pb-3">
                        <h6>{{odp.name}}</h6>
                        <div class="d-flex flex-row">
                            <form class="flex-fill row" [formGroup]="this.odpFormGroup">
                                <label for="selectVersion" class="col-sm-3 col-md-3 col-lg-2 col-form-label">Version</label>
                                <div class="col-sm-8">
                                    <select class="m-2" class="form-select" id="selectVersion"
                                        [formControlName]="odp.name">
                                        <option *ngFor="let version of odp.versions" [ngValue]="version">{{version}}
                                        </option>
                                    </select>
                                </div>
                                <button type="button" class="col-lg-2 col-sm-12 btn btn-success"
                                    (click)="loadOdp(odp.name)">Load ODP</button>
                            </form>
                        </div>
                    </li>
                </ul>
                <div class="row mt-3">
                    <div class="col d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary me-3" (click)="setAllVersionsToLatest()">Set
                            all to latest</button>
                        <button type="button" class="btn btn-success" (click)="loadAllOdps()">Load all ODPs</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

