<div class="row">
    <div class="card mb-sm-4 shadow p-3 mb-5 bg-white rounded">
        <h5 class="card-header">VDI3682 Template</h5>
        <div class="card-body">
            <h5 class="card-title"> Formalized Process Descriptions </h5>

            <div class="row">
                <div class="col">
                    <p class="card-text">The VDI3682 template uses a tabular approach for building a graph. One can add elements to an
                        existing Process or create a new Process.
                        <button type="button" class="badge rounded-pill bg-light text-dark" data-bs-toggle="modal" data-bs-target="#FPD_HELPER">
                            ?
                        </button>
                    </p>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <div class="card-header">
                            Template Statistics
                        </div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">No# Processes</th>
                                        <th scope="col">No# Products, Information, Energies</th>
                                        <th scope="col">No# TechnicalResource</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{NoOfProcesses}}</td>
                                        <td>{{NoOfInOuts}}</td>
                                        <td>{{NoOfTechnicalResources}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="px-sm-2 py-3">
                <!-- tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#newIndividual" id="newIndi-tab" role="tab" type="button"
                            aria-controls="newIndi" aria-selected="true"> Create new Individuals </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#existingIndividual" id="existingIndi-tab" role="tab" type="button"
                            aria-controls="existingIndi" aria-selected="false"> Connect existing Individuals </a>
                    </li>
                </ul>

                <div class="tab-content py-3" id="myTabContent">
                    <div class="tab-pane fade show active" id="newIndividual" role="tabpanel" aria-labelledby="newIndi-tab">
                        <new-vdi3682-individual (onNewIndividual)="handleNewIndividual($event)"></new-vdi3682-individual>
                    </div>

                    <!-- Existing Individual (might be better suited in a separate component) -->
                    <div class="tab-pane " id="existingIndividual" role="tabpanel" aria-labelledby="existingIndi-tab">
                        <vdi3682-connection></vdi3682-connection>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="FPD_HELPER" tabindex="-1" role="dialog" aria-labelledby="FPD_HELPER" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="FPD_HELPER"> The Formalized Process Description </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="../../../../../../assets/images/vdi3682_grafical_notion.png" class="card-img-top">
                    <p class="card-text">The Formalized Process Description according to VDI 3682 has the modelling elements
                        shown
                        above. A process (P) denotes some kind of manufacturing process that has in- and outputs. These in-
                        and
                        outputs can be products (P), which denote a product to be
                        produced or to use as an input, enegeries (E), that are necessary for a process or a result of it
                        and lastly
                        information (I), which is again used as an input for the process or produced during the execution of
                        the
                        process. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Got it!</button>
                </div>
            </div>
        </div>
</div>
</div>
