<div class="row">
    <div class="card mb-sm-4 shadow p-3 mb-5 bg-white rounded">
        <h5 class="card-header">VDI3682 Template</h5>
        <div class="card-body">
            <h5 class="card-title"> Formalized Process Descriptions </h5>

            <div class="row">
                <div class="col">
                    <p class="card-text">The VDI3682 template uses a tabular approach for building a graph. One can add elements to an
                        existing Process or create a new Process.
                        <button type="button" class="badge rounded-pill bg-light text-dark" data-bs-toggle="modal" data-bs-target="#FPD_HELPER">
                            ?
                        </button>
                    </p>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <div class="card-header">
                            Template Statistics
                        </div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">No# Processes</th>
                                        <th scope="col">No# Products, Information, Energies</th>
                                        <th scope="col">No# TechnicalResource</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{NoOfProcesses}}</td>
                                        <td>{{NoOfInOuts}}</td>
                                        <td>{{NoOfTechnicalResources}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="px-sm-2 py-3">
                <!-- tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#newIndividual" id="newIndi-tab" role="tab" type="button"
                            aria-controls="newIndi" aria-selected="true"> Create new Individuals </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#existingIndividual" id="existingIndi-tab" role="tab" type="button"
                            aria-controls="existingIndi" aria-selected="false"> Connect existing Individuals </a>
                    </li>
                </ul>

                <div class="tab-content py-3" id="myTabContent">
                    <div class="tab-pane fade show active" id="newIndividual" role="tabpanel" aria-labelledby="newIndi-tab">
                        <div class="row align-items-end" [formGroup]="newIndividualForm">
                            <div class="form-group col-lg-4">
                                <label>Subject of the created statement </label>
                                <input formControlName="name" class="form-control" name="name" type="text"
                                    placeholder="[Name of your subject]">
                            </div>
                            <div class="form-group col-lg-3">
                                <label>Predicate of the created statement </label>
                                <input class="form-control" type="text" placeholder="rdf:type" readonly>
                            </div>
                            <div class="form-group col-lg-3">
                                <label>Object of the created statement </label>
                                <select formControlName="type" name="type" class="form-control">
                                    <option value=null selected hidden></option>
                                    <option *ngFor='let x of allClasses'>
                                        {{x}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-lg-1">
                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                    <button type="button" class="btn btn-secondary"
                                        (click)="handleNewTriple('add')">Add</button>
                                    <div class="btn-group" role="group">
                                        <button id="addButton" type="button" class="btn btn-secondary dropdown-toggle"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="addButton">
                                            <a class="dropdown-item"
                                                (click)="handleNewTriple('delete')">Delete
                                                statement</a>
                                            <a class="dropdown-item"
                                                (click)="handleNewTriple('build')">Download
                                                SPARQL
                                                INSERT</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-3">
                            <app-table [currentTable]="allProcessInfo" [tableTitle]="tableTitle"
                                [tableExplanation]="tableSubTitle" (tableClickedCell)="iriTableClick($event)"></app-table>
                        </div>
                    </div>

                    <!-- Existing Individual (might be better suited in a separate component) -->
                    <div class="tab-pane " id="existingIndividual" role="tabpanel" aria-labelledby="existingIndi-tab">
                        <div class="row align-items-end" [formGroup]="newConnectionForm">
                            <div class="form-group col-lg-3">
                                <label>Subject of the created statement </label>
                                <input formControlName="subject" class="form-control" type="text"
                                    placeholder="Select a Function from Table" readonly>
                            </div>
                            <div class="form-group col-lg-2">
                                <label>Predicate of the created statement </label>
                                <select formControlName="predicate" name="predicate" class="form-control"
                                    (click)="getObjectClasses(newConnectionForm.controls['predicate'].value)">
                                    <option value=null selected hidden></option>
                                    <option *ngFor='let x of existingPredicates'>
                                        {{x}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-lg-3">
                                <label>Class of the Object of the created statement </label>
                                <select formControlName="objectClass" name="objectClass" class="form-control"
                                    (click)="getExistingObjects(newConnectionForm.controls['objectClass'].value)">
                                    <option value=null selected hidden></option>
                                    <option *ngFor='let x of existingObjectClasses'>
                                        {{x}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-lg-3">
                                <label>Object of the created statement </label>
                                <select formControlName="object" name="object" class="form-control">
                                    <option value=null selected hidden></option>
                                    <option *ngFor='let x of existingObjects'>
                                        {{x}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-lg-1">
                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                    <button type="button" class="btn btn-secondary"
                                        (click)="handleNewConnection('add')">Add</button>
                                    <div class="btn-group" role="group">
                                        <button id="addButton" type="button" class="btn btn-secondary dropdown-toggle"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="addButton">
                                            <a class="dropdown-item"
                                                (click)="handleNewConnection('delete')">Delete
                                                statement</a>
                                            <a class="dropdown-item"
                                                (click)="handleNewConnection('build')">Download
                                                SPARQL
                                                INSERT</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3">
                            <app-table [currentTable]="allProcessInfo" [tableTitle]="tableTitle"
                                [tableExplanation]="tableSubTitle" (tableClickedCell)="iriTableClick($event)"></app-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="FPD_HELPER" tabindex="-1" role="dialog" aria-labelledby="FPD_HELPER" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="FPD_HELPER"> The Formalized Process Description </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="../../../../../../assets/images/vdi3682_grafical_notion.png" class="card-img-top">
                    <p class="card-text">The Formalized Process Description according to VDI 3682 has the modelling elements
                        shown
                        above. A process (P) denotes some kind of manufacturing process that has in- and outputs. These in-
                        and
                        outputs can be products (P), which denote a product to be
                        produced or to use as an input, enegeries (E), that are necessary for a process or a result of it
                        and lastly
                        information (I), which is again used as an input for the process or produced during the execution of
                        the
                        process. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Got it!</button>
                </div>
            </div>
        </div>
</div>
</div>
