<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <img src="assets/home-images/AT_Logo_big.png" width="150px" />
            <h1>Lightweight Industrial Ontology Design Support</h1>
            <p>RDF/OWL based Semantic Modelling accessable for Domain experts and Software developers in the Automation Domain</p>
            <form role="form">
                <div class="form-content">
                    <!-- <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" id="" placeholder="{{ 'Email' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'Password' | translate }}">
                    </div> -->
                </div>
                <a class="btn rounded-btn" [routerLink]="['/home']" (click)="onLoggedin()">What is this tool about?</a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/modelling/model']" (click)="onLoggedin()">Start modelling RDF!</a>
                <!-- <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</a> -->
            </form>
        </div>
    </div>
</div>