<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <img src="assets/home-images/AT_Logo_big.png" width="150px" />
            <h1>Lightweight Industrial Ontology Design Support</h1>
            <p>RDF/OWL based Semantic Modelling accessable for Domain experts and Software developers in the Automation Domain</p>
            <form role="form">

                <a class="btn rounded-btn" [routerLink]="['/main/lionStory']">What is this tool about?</a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/main/configuration/repository']">Start modelling RDF!</a>
            </form>
        </div>
    </div>
</div>