<div class="px-sm-3 py-sm-3">
  <div class="card">
    <h5 class="card-header">ISA 88 Template</h5>
    <div class="card-body">
      <p class="card-text"> As the state machine of the ISA 88 is standardized, one can add a standard state machine
        to any element by choosing the element and the mode.</p>
      <div class="row">
        <div class="col">Select element to add ISA 88 state machine to
          <select [(ngModel)]="selectedOption" name="selectedOption" class="form-control">
            <option *ngFor='let list of selectOption'>
              {{list}}
            </option>
          </select>
        </div>
        <div class="col">Select Mode to be included
          <select [(ngModel)]="optionMode" name="optionMode" class="form-control">
            <option>Production</option>
            <option>Maintenance</option>
          </select>
        </div>
      </div>
      <div class="row">
        <button (click)="buildInsert()" class="btn btn-secondary col m-3">build INSERT</button>
        <button (click)="executeInsert()" class="btn btn-secondary col m-3">execute INSERT</button>
      </div>
    </div>
  </div>
</div>
<app-table [currentTable]="currentTable" [tableTitle]="tableTitle" [tableExplanation]="tableSubTitle"
  (tableClickedCell)="tableClicked($event)"></app-table>