<div class="col bg-dark">
<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <ul class="nav nav-pills nav-fill">
      <li class="nav-item" style="width: 220px">
          <a class="nav-link text-white text-left bg-dark " routerLink="/"> <i class="fas fa-home" style="width: 20px"></i>
            Dashboard </a>
        </li>
        <li class="nav-item" style="width: 220px">
            <a class="nav-link text-white text-left bg-dark " routerLink="/"> <i class="fas fa-plane-departure" style="width: 20px"></i>
              RDF Modelling </a> 
          </li>
    <li class="nav-item" style="width: 220px">
      <a class="nav-link text-white text-left bg-dark" routerLink="/configuration"> <i class="fas fa-wrench"
          style="width: 20px"></i> Configuration</a>
    </li>
    <li class="nav-item" style="width: 220px">
        <a class="nav-link text-white text-left bg-dark " routerLink="/"> <i class="fas fa-fire-extinguisher" style="width: 20px"></i>
          Tutorial </a>
      </li>
    <!-- <li class="nav-item">
        <a class="nav-link text-white bg-dark" routerLink="/iso22400">ISO 22400 Template</a>
      </li>  -->
    <!-- <li class="nav-item">
        <a class="nav-link text-white bg-dark" routerLink="/BScomponents">Bootstrap Components</a>
      </li> -->
  </ul>
</nav></div>